[2016-05-30 17:47] Greatdroid opened #1 "Camera HDR mode Makes double photos"

[2016-05-30 21:41] stucki opened #2 "No SIM"
_From @DocMAX on September 19, 2015 9:5_

No SIM. \firmware empty

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#2_

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 9:6_

So, firmware not get mounted?

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 9:37_

Seems so. I have the 3GB/32GB version.

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 9:38_

You can give us logcat/dmesg?

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 10:10_

Sorry I cant see it.

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 10:13_

http://pastebin.com/1x3F8W4e

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 10:13_

Thanks, We check into it.

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 10:16_

No errors found, can you give us dmesg file?

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 10:30_

http://pastebin.com/X46477QS

[2016-05-30 21:41] stucki commented on #2
_From @cmorlok on September 19, 2015 10:35_

On my 3GB/32GB, /firmware is mounted correctly, but I see a lot of those messages in dmesg:

[code]

Edit: the same error appears on DocMAX's dmesg. Mine is here: http://pastebin.com/VubJTbyZ

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 10:37_

Yeah, MBA not boot correctly.

We can fix this, I will give you a test ASAP.

Greetings

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 10:41_

Thx a lot, i'm waiting

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 12:14_

@DocMAX @cmorlok ,

Here the test: https://s.basketbuild.com/dl/devs?dl=Kra1o5/bq/piccolo/Test/boot.img

Flash via TWRP or fastboot.

Greetings

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 12:30_

I get 404 error...

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 12:32_

I get the correct url.

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 12:53_

It really doesnt work. Tried different computers, different browsers...

https://s.basketbuild.com/uploads/devs/Kra1o5/bq/piccolo/Test+Zone/boot.img

We couldn't find what you were looking for.

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 13:0_

@DocMAX @cmorlok ,

https://s.basketbuild.com/dl/devs?dl=Kra1o5/bq/piccolo/Test/boot.img

[2016-05-30 21:41] stucki commented on #2
Just start here: https://s.basketbuild.com/devs/Kra1o5/bq/piccolo/
then navigate to the "Test" subfolder.

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 13:9_

Works now :-)
Checking SIM issue now

[2016-05-30 21:41] stucki commented on #2
_From @DocMAX on September 19, 2015 13:24_

Looking good now :-) SIM seems to work!

[2016-05-30 21:41] stucki commented on #2
Great! Awesome work, Alejandro!

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 13:35_

;) Probably I make new release today!

Please check when new build is up & comment here the result to close the issue.

Greetings

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on September 19, 2015 16:48_

@DocMAX @cmorlok ,

New build is out.

This should be fine now.

[2016-05-30 21:41] stucki commented on #2
_From @cmorlok on September 20, 2015 11:12_

New build works fine. Both SIM cards detected and mobile data is working

[2016-05-30 21:41] stucki commented on #2
There was a new fix for this committed today:
https://github.com/piccolo-dev/android_kernel_bq_piccolo/commit/520bf435926e4dc0d7ca50b13f3509e0ee45a73e

I have made a test build at request of @Kra1o5. It works fine on my phone but I only have the 2 GB model:
https://www.dropbox.com/sh/oytnmfnm9o5763i/AAA9ikVUK_oOEXldYciSCfQea?dl=0

Can someone with a 3 GB model check it please and report here if mo

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on October 6, 2015 11:40_

I think @DocMAX have last release running fine with modem.

[2016-05-30 21:41] stucki commented on #2
_From @cmorlok on October 10, 2015 12:37_

I can confirm that the latest release is working fine on the 3/32

[2016-05-30 21:41] stucki commented on #2
_From @Kra1o5 on October 10, 2015 12:42_

Thanks for the feedback @cmorlok .

[2016-05-30 21:42] stucki opened #3 "ChangeLog does not load"
_From @stucki on September 20, 2015 13:28_

The ChangeLog display in CyanogenMod-Updater does not seem to work. When I click on a release, the popup opens and loads forever. I reported this already to @Kra1o5 who cannot reproduce the issue, while for me it is reproducable. How about others?

How to reproduce:
Settings => About the phone => CyanogenMod-Updates => Click on any release

The expected

[2016-05-30 21:42] stucki commented on #3
_From @Kra1o5 on September 20, 2015 13:41_

Its works for me: https://dl.dropboxusercontent.com/u/27852275/Screenshot_2015-09-20-15-37-46.png

[2016-05-30 21:42] stucki commented on #3
I believe you that it works for you :-) Still want to know if I'm alone with this problem or not.

Btw. nevertheless, device/bq/vegetalte/ and device/xiaomi/ do not belong to this changelog.

[2016-05-30 21:42] stucki commented on #3
_From @Kra1o5 on September 20, 2015 15:59_

Yes, includes vegetalte & armani  because is on my local_manifest, I support both.

Greetings

[2016-05-30 21:42] stucki commented on #3
_From @205er on October 6, 2015 12:9_

It does definitely not work for build 20151004 and 20150922! --> loading forever.

[2016-05-30 21:42] stucki commented on #3
_From @Kra1o5 on October 8, 2015 9:0_

Well, I have it working.

Maybe ISP problems?

[2016-05-30 21:42] stucki commented on #3
It didn't work using mobile data as well as wireless lan. Today however, it's working fine here. Need to try again at home...

[2016-05-30 21:42] stucki commented on #3
_From @bonanzabike on March 6, 2016 21:29_

I had this issue on my Samsung Galaxy S4 Mini with CM13 Nightlys and I discovered that it did only work for newer, not yet installed, but downloaded versions.
So whenever there was a new update found, I could read the changelog by tapping and holding at the newest version, but after the update it didn't work anymore. When I wanted to open it by pressing

[2016-05-30 21:42] stucki commented on #3
This works now.

[2016-05-30 21:42] stucki opened #4 "Download counter not working"
_From @stucki on September 20, 2015 16:20_

It seems to me like the download counter at https://s.basketbuild.com/devs/Kra1o5/bq/piccolo/ is totally wrong. I downloaded the 20150919 release so the counter should be at least 1 - although I think it should be at 10-20. I don't know the real numbers, but 0 is wrong for sure!

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#4_

[2016-05-30 21:42] stucki commented on #4
_From @Kra1o5 on September 20, 2015 16:23_

Yes is normal behavior.

Basketbuild only count downloads make on website not direct download (OTA).

& is error of the host.

[2016-05-30 21:42] stucki commented on #4
I understand that it's not your fault, however this should be fixed by the Basketbuild operators. It just looks bad if a release is only downloaded 3-4 times, even tough I'm sure that there are at least 30 people using the ROM... Is there a way to get in touch with the hoster?

[2016-05-30 21:42] stucki commented on #4
_From @Kra1o5 on September 24, 2015 20:12_

Yes, you can contact him here: support@basketbuild.com

Greetings

[2016-05-30 21:42] stucki commented on #4
Asked them now, let's close the issue here.

[2016-05-30 21:42] stucki opened #5 "Headphone remote control doesn't work"
_From @magicdave1 on September 25, 2015 18:8_

Tested with Apple headphones and headphones which were with an Android phone, both doesn't work.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#5_

[2016-05-30 21:42] stucki commented on #5
_From @Kra1o5 on September 28, 2015 11:5_

Hi,

You refer to volume control or play/pause?

Greetings

[2016-05-30 21:42] stucki commented on #5
_From @magicdave1 on September 28, 2015 15:25_

I've used it always with Apple headphones, volume control never worked with it on Android devices (I think because of switched pins or something like that). I refer to play/pause and track skipping (forward and backwards).

[2016-05-30 21:43] stucki commented on #5
_From @Kra1o5 on September 28, 2015 16:32_

@magicdave1

Ok, @eloimuns reproduce the bug so we are looking into it.

Greetings

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on September 29, 2015 8:47_

Seems like the keymap is missing. The keys are detected correctly by the kernel:
- Play/Pause Button
  - `Keycode: 188. KeyEvent: KeyEvent { action=ACTION_DOWN, keyCode=KEYCODE_BUTTON_1, scanCode=256, metaState=0, flags=0x8, deviceId=2, source=0x101 }`
- Volume Up/Next Button
  - `Keycode: 190. KeyEvent: KeyEvent { action=ACTION_DOWN, keyCode=KEYCODE_BUT

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on September 29, 2015 10:24_

**Solution:** I replaced the following lines in `/system/usr/keylaout/Generic.kl`

[code]

by these values (taken from `Generic.kl` of the stock rom):

[code]

Headset buttons are working fine now (tested with Xiaomi Piston).

[2016-05-30 21:43] stucki commented on #5
_From @Kra1o5 on September 29, 2015 11:18_

Fixed, will be in next build.

Thanks @cmorlok

[2016-05-30 21:43] stucki commented on #5
_From @magicdave1 on October 6, 2015 17:16_

Still doesn't work...

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on October 10, 2015 13:4_

@magicdave1: with which headset are you testing? Can you post the output of the keytest app (see link in my comment above)?

All the headsets I own work for with the latest release.

[2016-05-30 21:43] stucki commented on #5
_From @magicdave1 on October 10, 2015 13:22_

I usually use the earphones from Apple. It worked on all my android phones i had like this:

Play/Pause 1x: Play/Pause
Play/Pause 2x: Next track
Play/Pause 3x: Previous track

Therefore only this one button is recognized. Volume up/down has not been recognized.

Keycode: 188. KeyEvent: KeyEvent { action=ACTION_DOWN, keyCode=KEYCODE_BUTTON_1, scanCode=2

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on October 12, 2015 7:19_

Scan code 256 is mapped to HEADSETHOOK, not to KEYCODE_BUTTON_1. Are you sure that you are running release 20151004 or later? If so, can you take a look at `/system/usr/keylayout`? There should be a file named `msm8939-snd-card-skuk_Button_Jack.kl` with this content:

[code]

[2016-05-30 21:43] stucki commented on #5
_From @magicdave1 on October 12, 2015 16:27_

Yes, it is the 20151004 release and the file has exactely the same content as you mentioned above.

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on October 12, 2015 20:45_

@Kra1o5: the headset keys do not work with the mappings in msm8939-snd-card-skuk_Button_Jack.kl. Maybe the name of the sound device does not match?

[2016-05-30 21:43] stucki commented on #5
_From @Kra1o5 on October 12, 2015 20:48_

@cmorlok not, the name is correct.

& I can see it is working with other people so is really weird.

Greetings

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on October 12, 2015 20:53_

Another thing is weird: I did check immediately after flashing the 1004 release and the buttons worked. Today it doesn't work.

Is there any way to see for which key layouts Android looks for a specific key event?

[2016-05-30 21:43] stucki commented on #5
_From @Kra1o5 on October 12, 2015 20:57_

@cmorlok , the keylayout event for this is HEADSETHOOK.

I cant test it yet (get my device back probably tomorrow).

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on October 12, 2015 21:10_

@Kra1o5: Yes I know. According to the doc, the lookup order is
- Vendor_XXXX_Product_XXXX.kl
- DEVICE_NAME.kl
- Generic.kl

I just don't understand why the Button_Jack is ignored here (256 is being mapped to BUTTON_1 which is defined in Generic.kl)

Is there any way to see the kl lookup for a device or one single key event? I can't see anything related in

[2016-05-30 21:43] stucki commented on #5
_From @Kra1o5 on October 12, 2015 21:13_

Yes, you can enabling: https://github.com/piccolo-dev/android_kernel_bq_piccolo/blob/cm-12.1-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1480

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on October 12, 2015 21:17_

Thanks, I will test tomorrow.

[2016-05-30 21:43] stucki commented on #5
_From @cmorlok on October 14, 2015 9:34_

Pull request: https://github.com/piccolo-dev/android_device_bq_piccolo/pull/9

There are two things which have to be done to make headset buttons work again (at least on my 3/32GB model):
1. Remove the invalid hall switch key codes from the keylayout file (otherwise the file is ignored by Androids EventHub/InputReader)
2. Copy `msm8939-snd-card-skuk_Button

[2016-05-30 21:44] #3 closed, assigned to nobody

[2016-05-30 21:44] #2 closed, assigned to Kra1o5

[2016-05-30 21:44] #4 closed, assigned to nobody

[2016-05-30 21:45] stucki commented on #5
(Note: copy of the original issue failed, so I'm stopping here because the original issue was already closed. Reference: https://github.com/piccolo-dev/android_device_bq_piccolo/issues/5)

[2016-05-30 21:45] #5 closed, assigned to eloimuns

[2016-05-30 21:46] stucki opened #6 "Bluetooth and USB tethering not working"
_From @stucki on October 3, 2015 20:55_

It seems like bluetooth and USB tethering are both not working. WLAN tethering does work. Can anyone confirm this behaviour?

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#6_

[2016-05-30 21:46] stucki commented on #6
_From @Kra1o5 on October 3, 2015 20:58_

Well, for USB tethering you cant have one option selected (MTP,PTP, Charge only) need to be in "USB Install Mode" .

[2016-05-30 21:46] stucki commented on #6
Well, it worked fine on other models so far. What could be the problem?
I'm not even sure if it's the same problem for bluetooth and USB - maybe these problems are not related to each other...

[2016-05-30 21:46] stucki commented on #6
I must add: The connection from my computer to the phone is established successfully, however I'm not getting any data. Need to investigate if the routing and firewall settings are correct...

[2016-05-30 21:46] stucki commented on #6
_From @Kra1o5 on October 3, 2015 21:6_

Yes, it works with USB without options selected (at least on my E5 4G) .

[2016-05-30 21:46] stucki commented on #6
Really strange, it works now! It even works when using bluetooth tethering, and it even works after a reboot. :-)

I really tried many times before without success, so I assume it was fixed with the following step:

The setting you mentioned (no USB mode selected) was already present - so what I did was to enable each and disable it again.

This seems really weird - maybe someone else can try and

[2016-05-30 21:46] stucki commented on #6
Even better: Now it even works when I have MTP selected. Works with USB tethering & with bluetooth tethering. Really sounds to me like a wrong setting was the problem...

[2016-05-30 21:46] stucki commented on #6
_From @Kra1o5 on October 3, 2015 21:36_

Yes, I can test when get the device.

[2016-05-30 21:46] stucki commented on #6
Thank you!

[2016-05-30 21:46] stucki commented on #6
Hey I think this can be closed. In retrospective I don't really know if switching off and on was needed to fix it, however I cannot reproduce the problem anymore since then...

[2016-05-30 21:46] #6 closed, assigned to Kra1o5

[2016-05-30 21:47] stucki opened #7 "64bit?"
_From @piwats on October 7, 2015 4:12_

Qualcomm 615 is a 64 bit cpu, armv8, isn't it?

So why does BoardConfig.mk (bq?) insists on using armv7?

[code]

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#7_

[2016-05-30 21:47] stucki commented on #7
_From @piwats on October 7, 2015 4:17_

Examples of 64bit BoardConfig.mk for the 615:

https://github.com/sonyxperiadev/device-sony-kanuti/blob/master/BoardConfig.mk
https://github.com/Silentlys/android_device_zte_N939St/blob/master/BoardConfig.mk

[2016-05-30 21:47] stucki commented on #7
_From @Kra1o5 on October 7, 2015 7:42_

I know how to compile 64 bits but we cant do it.

We have blobs for 32 bits not for 64 bits.

Greetings

[2016-05-30 21:47] stucki commented on #7
Check this folder for proprietary files that are not available in source and exist only for 32bit platforms:
https://github.com/piccolo-dev/proprietary_vendor_bq/tree/cm-12.1-test/piccolo/proprietary

This means, we depend on BQ for this.

On the other hand, you won't gain anything by switching a 2GB / 3GB RAM device to 64bit.

[2016-05-30 21:47] stucki commented on #7
_From @piwats on October 7, 2015 11:35_

ah, o.k. I understand, bq itself is the limiting factor here...

It is not a question about the memory access.

ARMv8 has some simd improvements, as well as some instructions added (i.e. crypto), should be a bit faster, too.

Is it possible to take the blobs from the repo for the zte n939St (does the sony repo help? They actually have instructions how to bu

[2016-05-30 21:47] stucki commented on #7
_From @Kra1o5 on October 7, 2015 11:57_

Not, we have specific blobs (like Camera).

[2016-05-30 21:47] stucki commented on #7
_From @piwats on October 7, 2015 12:22_

Any contacts to bq?

[2016-05-30 21:47] stucki commented on #7
_From @piwats on October 7, 2015 12:42_

Also, there ist this 615 based device officially supported by cyanogenmod:

https://github.com/cyanogenmod/android_device_yu_tomato

IMX214 is the same camera as on nexus 6/ oneplus 2, seems there is some src in cyanogenmod for it.

[2016-05-30 21:47] stucki commented on #7
_From @Kra1o5 on October 7, 2015 12:47_

Is more difficult than this, IMX214 have different EEPROM and differents configs.

[2016-05-30 21:47] #7 closed, assigned to nobody

[2016-05-30 21:47] stucki opened #8 "irregular reboots"
_From @205er on October 8, 2015 8:56_

Hi,

my device reboots from time to time using the last CM-build (04.10.2015).
So far, it allways happend when the m5 was in sleep mode (display switched off).

Can I provide any additional information, that might help to resolve this issue?

Bye

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#8_

[2016-05-30 21:47] stucki commented on #8
_From @Kra1o5 on October 8, 2015 8:58_

Some people fix this by increase minimun frequencies of cores.

Can you try it?

[2016-05-30 21:47] stucki commented on #8
_From @205er on October 8, 2015 9:24_

I will give this a try.
Using trickster mod, i increased the min. CPU Freq. to 345MHz. Hopefully it will not result in a shortened battery life time ;-)

[2016-05-30 21:47] stucki commented on #8
_From @205er on October 8, 2015 12:23_

Increasing the minimum CPU frequency does not help! I had another reboot some minutes ago :-(
Any other idea?
Wouldn't a system log help to analyze this problem?

[2016-05-30 21:47] stucki commented on #8
_From @Kra1o5 on October 8, 2015 12:26_

Well , logcat after reboot doesnt help & we dont have last_kmsg.

You can record with app CatLog.

[2016-05-30 21:47] stucki commented on #8
_From @SIRSteiner on October 9, 2015 18:36_

Today I had no reboot but the M5 got hot and did a shutdown. I have a 37 MB log file (zip 3.7 MB). Please look at your mails there you can find the download link. Many thanks

[2016-05-30 21:47] stucki commented on #8
_From @Kra1o5 on October 9, 2015 18:40_

Ok, thanks!

I will take a look into it asap.

Greetings

[2016-05-30 21:47] stucki commented on #8
_From @Kra1o5 on October 10, 2015 16:12_

@SIRSteiner ,

After check logs I can say the reboots are caused by memory overflow (Out of memory).

This is a big problem of LP in general, for next release I will try to optimize it.

[2016-05-30 21:48] stucki opened #9 "keylayout: Fix headphones buttons"
_From @cmorlok on October 14, 2015 9:28_

BUG-https://github.com/piccolo-dev/android_device_bq_piccolo/issues/5
- remove invalid hall switch key codes
- copy Button_Jack.kl to Headset.kl

_Copied from original issue: piccolo-dev/android_device_bq_piccolo/pull/9_

[2016-05-30 21:48] #9 closed, assigned to nobody

[2016-05-30 21:49] stucki opened #10 "kmod-tun"
_From @piwats on October 15, 2015 16:23_

The official fw does not have tun enabled (yet).

Could you please enable it?

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#10_

[2016-05-30 21:49] stucki commented on #10
_From @Kra1o5 on October 15, 2015 16:28_

TUN support is already present.

Check: https://github.com/piccolo-dev/android_kernel_bq_piccolo/blob/cm-12.1-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1304

[2016-05-30 21:49] stucki commented on #10
_From @piwats on October 15, 2015 16:30_

Ah, thank you very much.

[2016-05-30 21:49] stucki commented on #10
_From @Kra1o5 on October 15, 2015 16:31_

No problem.

[2016-05-30 21:49] #10 closed, assigned to nobody

[2016-05-30 21:49] stucki opened #11 "Freezes while Youtube playback"
_From @halloalexkern on October 20, 2015 10:15_

I had an issue in: cm-12.1-20151017-UNOFFICIAL-piccolo.zip

During youtube playback my phones freezes soon and only a press-all-keys-reset is helping. Once it rebooted by its own; Sometimes screen goes off after a while when pressing the power button. When you turn the screen back on it shows the unlock screen and then the home-screen (youtube was e

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 20, 2015 16:35_

Also happens with the previous build.
Switching to AwesomePlayer (instead of NuPlayer) in Developer settings doesn't fix it.
It only happens in Youtube fullscreen mode (tilted screen) and not in the small view.
Downscaling the video-quality to 720p doesn't fix it neither does throttling the CPU-frequency.

Can anyone reproduce this?

:-/ AK

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 21, 2015 18:29_

Hi,
@eloimuns can test it?, thanks.

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 22, 2015 12:51_

FYI ... I digged a little bit deeper:
- issue also with HTML5-Videos (non-fullscreen & fullscreen)
- issue also with Facebook-autoplay-videos in the timeline ... (Facebook freezes, when you shortly stop at a autoplay-timeline video ... if you scroll by fast enough, you're most likely lucky.)
- issue is NOT with webpage-embedded Youtube videos (as wi

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 22, 2015 18:45_

Hi, I tested today (except facebook part) with not luck to reproduce it.

[2016-05-30 21:49] stucki commented on #11
_From @eloimuns on October 23, 2015 6:43_

I can't reproduce this issue. I use facebook, youtube and 0 freezes.

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 24, 2015 11:11_

_damn_ ... thanks. I'll try to reinstall ...

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 24, 2015 16:13_

I started over with a fresh system. Problem is still there.

It happens also when device is plugged into a wallcharger – but not while connected to adb logcat via USB. When i unplug the USB it freezes soon after.

:-/ AK

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 26, 2015 12:55_

I noticed, that my device also freezes after a while during Hangouts-chatting. (not Video-chat, just Text-chat; without pictures, just text)
Maybe a hardware-problem?
:-/ AK

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 26, 2015 13:0_

Hi @halloalexkern ,

@eloimuns & me try to reproduce all errors you report without any luck.

So is really weird.

You can try making Hard Reset maybe its help (This erase all data on internal_sd & data partitions not on SDCard so if you do it, make a backup of any personal data first if you dont want to lose all the data).

Greetings

[2016-05-30 21:49] stucki commented on #11
_From @antonioborondo on October 26, 2015 14:30_

I have exactly the same freezing problem with YouTube and Facebook videos, but I can not reproduce it always. Its very annoying :-(

The official firmware version 1.2.4 teorically fix those problems, but I haven't check it yet (link in Spanish sorry): http://www.mibqyyo.com/comunidad/discussion/59280/actualizaci%C3%B3n-1-2-4-para-bq-aquaris-m5/

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 26, 2015 14:38_

You can check it in english: http://www.mibqyyo.com/comunidad/discussion/59283/bq-aquaris-m5-1-2-4-update/p1

But nothing related to videos, only related to front camera videos.

[2016-05-30 21:49] stucki commented on #11
_From @antonioborondo on October 26, 2015 14:40_

I've seen that in people comments thread. There is not in the official changelog.

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 26, 2015 14:46_

You are right @antonioborondo .

We are using latest CAF kernel branch & from bq kernel changes we are using 1.2.1 (latest available).

One log or dmesg can be really appreciate to point out the problem.

[2016-05-30 21:49] stucki commented on #11
_From @antonioborondo on October 26, 2015 14:58_

@Kra1o5 I'll try to figure out a way to get the log from my phone and put it on here ;-)

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 26, 2015 15:0_

Thanks @antonioborondo :-) .

Random errors are often the most difficult to hunt.

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 27, 2015 19:30_

I tried it exactly with that Hard-Reset – i didn't format the SD-Card.
I reinstalled the latest CM 12.1 built and started Youtube right away, before anything installed ... and i got immediately a freeze :-(

Here a video.
https://www.youtube.com/watch?v=uuXPt90To78

Any ideas how i can get a good log for that?
It doesn't freeze when it's connected t

[2016-05-30 21:49] stucki commented on #11
_From @eloimuns on October 28, 2015 7:12_

Hi @halloalexkern,

Can you try to get logcat using adb via wifi? Just enable option and in PC (same wifi network).

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 29, 2015 15:10_

Wifi-logcat. Good idea.

Here you go.  A Error, Warning and Verbose-log.

https://www.dropbox.com/sh/7r04lj8n4ytrr7g/AAAurj3QqLnEQHUF_SBiPP8ga?dl=0

I marked the comments with **\* COMMENTS ***

I did't get a E/ for when the screen was freezing.
The Errorlog is best-commented.

for the Verbose-Log it was not really possible to get the exact position

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 29, 2015 15:44_

Thanks @halloalexkern ,

We will take a look into it asap.

[2016-05-30 21:49] stucki commented on #11
_From @magicdave1 on October 29, 2015 16:1_

Just wanted to let you guys know that I have the exactely same problems like @halloalexkern

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 29, 2015 16:11_

@magicdave1 @antonioborondo @halloalexkern ,

What variant of model you have?

@eloimuns & me 16/2 white variant.

[2016-05-30 21:49] stucki commented on #11
_From @magicdave1 on October 29, 2015 16:13_

16/2 black

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 29, 2015 17:1_

@halloalexkern can you provide dmesg too?

You can do it with adb wifi.

Because I think the error is on kernel part.

Thanks in advanced

[2016-05-30 21:49] stucki commented on #11
_From @antonioborondo on October 29, 2015 17:4_

@Kra1o5 32/3 black

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 29, 2015 17:8_

Thanks for the info @magicdave1 & @antonioborondo .

So we can discard variant problem.

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 30, 2015 13:28_

I have the 16/2 black, too.

The dmsg is getting interesting. You can really see something happening here:

https://www.dropbox.com/sh/6hcakuhf93zeqk5/AAAoKtFBEEwaG0dBhQdD8MBUa?dl=0

I did 2 files with "tail -f dmsg" (and before that two where i just got the dmsg at different states and deleted the double lines)

I think that file ist most interesti

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 30, 2015 13:48_

Thanks @halloalexkern .
We will check it asap.

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 30, 2015 18:44_

@halloalexkern @antonioborondo @magicdave1 ,

New build is out, can you try it & report back the results?

Thanks

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 31, 2015 10:41_

@Kra1o5
As far i i just tested it doesn't work, unfortunately. Still freezes. At least the video.

:-/ AK

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 31, 2015 10:59_

https://dl.dropboxusercontent.com/u/99389807/Androidlogs/DMSG2/YT-VideoFreeze-with-b30.txt

[2016-05-30 21:49] stucki commented on #11
_From @Kra1o5 on October 31, 2015 15:27_

ok thanks @halloalexkern ,

At least I know is video/mdss part.

We are working on it.

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on October 31, 2015 17:14_

Is it possible, that the UI-freezes are gone? I couldn't provoke any yet on the new build.

:-) AK

[2016-05-30 21:49] stucki commented on #11
_From @antonioborondo on November 3, 2015 18:7_

@Kra1o5 I'm installing the new build in my device. I'm going to test it a few days and I'll let you know. Thanks a lot for your time!!! :smiley:

[2016-05-30 21:49] stucki commented on #11
_From @antonioborondo on November 3, 2015 19:19_

@Kra1o5 I'm sorry but video still freezes :pensive:

[2016-05-30 21:49] stucki commented on #11
_From @halloalexkern on November 4, 2015 9:15_

I also had another few UI-freezes. So they're not gone completely.

:-) AK

[2016-05-30 21:51] stucki commented on #11
(Note: copy of the original issue failed, so I'm stopping here because the original issue was already closed. Reference: piccolo-dev/android_device_bq_piccolo#11)

[2016-05-30 21:51] #11 closed, assigned to eloimuns

[2016-05-30 21:51] stucki opened #12 "Tabs"
_From @pinox12 on November 4, 2015 18:3_

Couldn't add widget.
https://goo.gl/photos/ZXTT45aNgxNfdmjt6

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#12_

[2016-05-30 21:51] stucki commented on #12
_From @Kra1o5 on November 5, 2015 15:56_

Is really weird, @eloimuns can you test it?

[2016-05-30 21:51] stucki commented on #12
_From @andy-de on November 5, 2015 19:54_

I don't think it's a bug. The "couldn't add widget" is a placeholder, if the searchbar of the Google Search App couldn't be loaded (Usually, at this position is the Google Searchbar). If you deleted the Google Search App or if you have frozen the app, the "widget" ist not available.

The "placeholder" can be hidden by using the GravityBox Xposed Module, i

[2016-05-30 21:51] #12 closed, assigned to nobody

[2016-05-30 21:52] stucki opened #13 "Hotspot "disabled due to sim subscription change""
_From @Marty6 on November 12, 2015 22:46_

When my phone is in place with a rather poor signal, **WiFi Tethering disables itself regularly** saying that the hotspot was "disabled due to sim subscription change".

Using the same SIM card in the same place with a mobile WiFi hotspot (MiFi), the Internet connection works perfectly.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#1

[2016-05-30 21:52] stucki commented on #13
_From @Kra1o5 on December 12, 2015 17:53_

Hi @Marty6 ,

I & @eloimuns , will check it asap.

Greetings

[2016-05-30 21:52] stucki commented on #13
_From @cmorlok on January 13, 2016 8:27_

This (bad) behavior has been introduced to CM12.1 here: http://review.cyanogenmod.org/#/c/109021/

A fix has already been merged on Dec 9th: http://review.cyanogenmod.org/#/c/122778

[2016-05-30 21:52] #13 closed, assigned to nobody

[2016-05-30 21:52] stucki opened #14 "SIM cards not recognized after encryption"
_From @andristeiner on November 19, 2015 9:26_

I've encrypted the phone trough the Android default way ("Settings" > "Security" > "Encrypt phone"). Everything went fine so far, however the SIM cards are not recognized anymore. Its just like they're not inserted at all ("SIM empty" in "Settings" > "SIM Cards"). After restoring a unencrypted backup, everything is fine again without changing anythin

[2016-05-30 21:52] stucki commented on #14
_From @Kra1o5 on November 19, 2015 19:37_

Thanks for the feedback @andristeiner

Can you provide a log with encrypted phone?

@eloimuns can you check it?

[2016-05-30 21:52] stucki commented on #14
_From @andristeiner on November 20, 2015 8:2_

What do you need exactly? Is there a documentation somewhere? I'm not very into the whole process yet, sorry. I know "adb logcat", do you need it's output? If yes, from the whole bootup or when does the interesting stuff happen?

[2016-05-30 21:52] stucki commented on #14
_From @Kra1o5 on December 12, 2015 17:55_

Hi @andristeiner ,

Sorry for big delay.

Do IT with app "Catlog"  from playstore.

[2016-05-30 21:52] stucki commented on #14
_From @cmorlok on December 14, 2015 13:40_

This could be the solution: http://review.cyanogenmod.org/#/c/117861/1

[2016-05-30 21:52] stucki commented on #14
_From @Kra1o5 on December 27, 2015 16:21_

Hi @andristeiner ,

Thanks @cmorlok .

Now in our repos.

Included in cm-12.1-20151227-UNOFFICIAL-piccolo.

GreEtings

[2016-05-30 21:52] stucki commented on #14
_From @cmorlok on January 2, 2016 13:19_

While this hack does actually fixes the issue, it shouldn't be necessary unless we also build for single SIM devices.

Instead ril-daemon2 should not be disabled in init.qcom.rc. This is only useful when persist.radio.multisim.config is set in init.c.

[2016-05-30 21:52] stucki commented on #14
_From @Kra1o5 on January 2, 2016 13:33_

We can remove the prop & start service by default.

[2016-05-30 21:52] stucki commented on #14
_From @andristeiner on January 11, 2016 13:44_

Verified, works with  cm-12.1-20151227-UNOFFICIAL-piccolo now, thank you.

[2016-05-30 21:52] #14 closed, assigned to nobody

[2016-05-30 21:52] stucki opened #15 "SIM number not assigned if roaming"
_From @antonioborondo on November 20, 2015 14:46_

If one of the SIM cards is on roaming, the phone number is not assigned:

![sim](https://cloud.githubusercontent.com/assets/5370877/11302427/4d438a2e-8f95-11e5-940b-2ee000367ca8.png)

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#15_

[2016-05-30 21:52] stucki commented on #15
_From @Kra1o5 on December 12, 2015 17:52_

Hi @antonioborondo ,

Sorry for the big delay.

Is normal behavior at least with spanish SIM.

Using single or dual SIM.

[2016-05-30 21:52] stucki commented on #15
_From @antonioborondo on December 14, 2015 11:46_

Hi @Kra1o5,

Thanks for the info.

[2016-05-30 21:53] #15 closed, assigned to nobody

[2016-05-30 21:53] stucki opened #16 "AOSP Keyboard: is motion typing like swiftkey working?"
_From @piwats on November 21, 2015 21:47_

Here on 20151121 I noticed that the motion like typing aka swiftkey isn't working despite the appropriate options/settings set.

Is this a bug or do I miss something?

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#16_

[2016-05-30 21:53] stucki commented on #16
I'm using Swiftkey too but don't miss any features. Can you please explain in more detail what doesn't work?

[2016-05-30 21:53] stucki commented on #16
_From @piwats on November 23, 2015 3:40_

sorry for the misleading "swiftkey" naming.

In the android keyboard settings, there under "gesture typing", all options are enabled, that is gesture typing should work.

Now, when I try to "gesture" a word, no trail, no nothing comes, as if any gesture typing is on. only letter popups pop up on each letter, but no trail is seen.

[2016-05-30 21:53] stucki commented on #16
_From @piwats on November 23, 2015 4:5_

Ah, I got it.

https://github.com/opengapps/opengapps/wiki/Advanced-Features-and-Options

put swypelibs in .gapps-config/gapps-config.txt to get the gesture typing working when installing open gapps.

[2016-05-30 21:53] #16 closed, assigned to nobody

[2016-05-30 21:53] stucki opened #17 ""Always ask" option for calls lost on every restart"
_From @Marty6 on November 24, 2015 20:46_

In SIM Card settings I chose the option "Always ask" for phone calls.

Unfortunately, after every reboot, this option reverts back to one of my SIM cards.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#17_

[2016-05-30 21:53] stucki commented on #17
_From @Kra1o5 on December 12, 2015 17:50_

Hi @Marty6 ,

Im only use one SIM slot.

Maybe other can try this.

[2016-05-30 21:53] stucki commented on #17
_From @piwats on January 6, 2016 18:23_

Can confirm:

When I set data to sim2, sms/mms and phone calls to sim1, the settings are all then reverted back to sim2 on reboot.

[2016-05-30 21:53] stucki opened #18 "Double tap on screen is sometimes not working."
_From @piwats on December 7, 2015 13:19_

Hi,

I've noticed that the double tap on screen to wake the phone up is sometimes not working.

To fix this I turn of and on again double taping in the settings. Then it starts to work again, at least for some time.

After some time double tap is gone again.

Does anybody have this issue, too?

_Copied from original issue: piccolo-dev/android_device_bq_pic

[2016-05-30 21:53] stucki commented on #18
_From @Kra1o5 on December 12, 2015 17:49_

Hi @piwats ,

I cant reproduce it.

[2016-05-30 21:53] stucki commented on #18
_From @piwats on December 12, 2015 18:32_

Its even hard for me to track it down.

 There is another report about it on android-hilfe.de forums.

It appears that it happens sporadically. One time double tap is gone, another it is back and working.

I try to log it with logcat.

[2016-05-30 21:53] stucki commented on #18
_From @piwats on December 13, 2015 21:0_

With today's update I do not notice any problems. At least yet.

[2016-05-30 21:53] stucki commented on #18
_From @piwats on December 23, 2015 14:19_

20151221: sometimes double tap isn't working.

[2016-05-30 21:53] stucki commented on #18
_From @piwats on December 23, 2015 15:23_

dmesg output number 1 when double tap isn't working

[20151221-dmesg.txt](https://github.com/piccolo-dev/android_device_bq_piccolo/files/70927/20151221-dmesg.txt)

and when double tap started to work.

[20151221-dmesg-double-tap-working-again.txt](https://github.com/piccolo-dev/android_device_bq_piccolo/files/70928/20151221-dmesg-double-tap-working-again.

[2016-05-30 21:53] stucki commented on #18
_From @piwats on December 24, 2015 22:11_

It may be csused by too dry fingers. At least that is my observation. I'm closing this issue therefore.

[2016-05-30 21:54] #18 closed, assigned to nobody

[2016-05-30 21:54] stucki opened #19 "Does the M5 support Galileo?"
_From @piwats on December 17, 2015 17:49_

Hello,

I can't find any information on the snapdragon 615 and its GNSS chipset, the iZat Gen8c.

Do you know whether our device supports the Galileo GNSS?

It does support Beidou, which is very similar to Galileo.

I know that Galileo has not reached FOC yet, but still it is very interesting to know.

_Copied from original issue: piccolo-dev/android_devi

[2016-05-30 21:54] stucki commented on #19
_From @Kra1o5 on December 17, 2015 17:56_

Hi @piwats in theory yes.

[2016-05-30 21:54] stucki commented on #19
_From @cmorlok on December 17, 2015 19:40_

The 615 has the same GNSS (IZat Gen8C) like the 810. And the latter does
support Galileo:
https://www.qualcomm.com/news/releases/2015/02/02/qualcomm-snapdragon-810-processor-powers-premium-tier-mobile-experiences

So, yes, it should support Galileo. If it will not support it officially,
we will still be able to use the blobs from an 808/810 device and lo

[2016-05-30 21:54] stucki commented on #19
_From @piwats on December 22, 2015 21:41_

As we won't see Galileo soon, I'll close this one.

[2016-05-30 21:55] stucki opened #20 "New bootloader as of bq M5-3.2.2"
_From @piwats on December 19, 2015 21:18_

Hello,

is there currently a need to update anything from the last firmware (3.2.2) bq released to a M5 flashed originally with a 1.2.4 firmware? At least the bootloader?

Also, as I understand, the new bootloader is locked, but can be unlocked via fastboot. Do you know the reasons behind this move?

I have seen a post over at htcmania, but unfortunately

[2016-05-30 21:55] stucki commented on #20
_From @piwats on December 20, 2015 22:17_

Managed to update.

[2016-05-30 21:55] #20 closed, assigned to nobody

[2016-05-30 21:55] stucki opened #21 "20151220: Compass/hall/sensors (screen rotation) not working"
_From @piwats on December 20, 2015 22:25_

Hello,

I just have updated to 20151220 and noticed that the compass and other sensors stopped working.

F.e. the compass in GPS status app and cpuz sensor data is not show anything.

Any clues?

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#21_

[2016-05-30 21:55] stucki commented on #21
_From @piwats on December 20, 2015 22:33_

When enabling the compass tile in the notification/status bar, and turning there the compass on, it gets stuck at "initializing..."

[2016-05-30 21:55] stucki commented on #21
_From @piwats on December 20, 2015 23:29_

Rotation also does not work, obviously, since sensor related.

Users over a htcmania are experiencing it, too, if I correctly translate:

@htcmania: http://www.htcmania.com/showpost.php?p=21322823&postcount=876

and a confirmation from another user @htcmania: http://www.htcmania.com/showpost.php?p=21322853&postcount=877

[2016-05-30 21:55] stucki commented on #21
_From @Kra1o5 on December 21, 2015 13:16_

Yes, is already fixed on repos, I will release new build today.

Greetings

[2016-05-30 21:55] stucki commented on #21
_From @piwats on December 21, 2015 14:13_

Thank you very much :)

[2016-05-30 21:55] #21 closed, assigned to nobody

[2016-05-30 21:55] stucki opened #22 "20151220: Kernel oops"
_From @piwats on December 20, 2015 22:55_

There is an kernel oops during the boot, which looks as follows:

[code]

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#22_

[2016-05-30 21:55] stucki commented on #22
_From @piwats on December 20, 2015 23:7_

Another ones:

[code]

[2016-05-30 21:55] stucki commented on #22
_From @cmorlok on January 13, 2016 8:29_

Is this for CM12.1 or CM13.0? I see the same oops on 13.0.

[2016-05-30 21:55] stucki commented on #22
_From @piwats on January 13, 2016 18:23_

Cm12.1

[2016-05-30 21:55] stucki commented on #22
_From @piwats on January 28, 2016 20:3_

Have not seen those in cm-13.

Closing in favor of cm-13 related reports/bugs.

[2016-05-30 21:56] #22 closed, assigned to nobody

[2016-05-30 21:56] stucki opened #23 "WiFi sometimes cant turn ON"
_From @yuichristian on December 21, 2015 9:7_

After reboot,why sometimes WiFi stuck. i must reboot again if i want use WiFi

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#23_

[2016-05-30 21:56] stucki commented on #23
_From @Kra1o5 on December 27, 2015 16:20_

Fixed in cm-12.1-20151227-UNOFFICIAL-piccolo.zip.

Greetings

[2016-05-30 21:56] #23 closed, assigned to nobody

[2016-05-30 21:56] stucki opened #24 "Reboots"
_From @halloalexkern on December 22, 2015 11:15_

With the latest cm-12.1-20151221-UNOFFICIAL-piccolo.zip build i got some "random" reboots.

Screen freezes for 2 seconds ... then the device restarts:
- while in my newsfeed-reader (feedly) for a few minutes
- while in Chrome after 2-3 minutes
- while on charger and not on charger
- i could reproduce this multiple times
- while receiving a call for

[2016-05-30 21:56] stucki commented on #24
_From @Findecil on December 22, 2015 13:8_

Same observations, reboot at random times, even when not doing anything (phone in the pocket). Could not find anything relevant with Catlog.

I now have downgraded my system to the stable version from 20151213.

[2016-05-30 21:56] stucki commented on #24
_From @piwats on December 22, 2015 13:14_

Have you updated prior to installing 20151220/20151221 to bq's 3.2.2 firmware?

I had reboots, too. It is required to update to 3.2.2 first.

[2016-05-30 21:56] stucki commented on #24
_From @Findecil on December 22, 2015 13:50_

I did not, I just pushed the update offered by the phone without checking if there was a firmware update available. I'll do it, thanks.

[2016-05-30 21:56] stucki commented on #24
_From @halloalexkern on December 22, 2015 14:50_

I didn't update the firmware too. Will check it later!

:-) AK

[2016-05-30 21:56] stucki commented on #24
_From @piwats on December 22, 2015 15:26_

you will need to unlock the bootloader, though.

get the bootloader (fastboot mode) running, use then
fasboot oem unlock-go
to unlock it

[2016-05-30 21:56] stucki commented on #24
_From @Cross0x0 on December 22, 2015 18:20_

Same here, I didn't tried to update the firmware because I don't want to loose all my data yet.

[2016-05-30 21:56] stucki commented on #24
_From @piwats on December 22, 2015 18:52_

Backup your data via twrp to a SD card and restore it later. I did so. Without any problems.

[2016-05-30 21:56] stucki commented on #24
_From @halloalexkern on December 22, 2015 19:0_

What part of the firmware do i have to install? or the whole thing?
:-) AK

[2016-05-30 21:56] stucki commented on #24
_From @piwats on December 22, 2015 19:36_

You have to install the whole firmware, boot it up, unlock the developer menu and turn off there an OEM lock off, too.

[2016-05-30 21:56] stucki commented on #24
_From @Kra1o5 on December 23, 2015 12:33_

Yes if you have 5.0.2 firmware as base you probably get reboots is a confirmed issue due to new kernel changes.

To fix this you need to have 5.1.1 firmware as base.

Greetings

[2016-05-30 21:56] stucki commented on #24
_From @andresako on December 23, 2015 13:43_

One more here with the same problem :(
How can i downgrade it?
 I need to format all my device? =/

My dev:
m5 3Gb 64.
firmware base : 5.1.1

Upd. Data saved via twrp, how can I downgrade it now? =)

_That need to be the first on everything without read....._

[2016-05-30 21:56] stucki commented on #24
_From @Kra1o5 on December 23, 2015 14:8_

You can flash old version from here: https://s.basketbuild.com/devs/Kra1o5/bq/piccolo it doesnt wipe any data.

Greetings

[2016-05-30 21:56] stucki commented on #24
_From @andresako on December 23, 2015 14:36_

ok done, thanks!

[2016-05-30 21:56] stucki commented on #24
_From @Findecil on December 23, 2015 14:39_

I upgraded the firmware to 3.2.2 (5.1.1), reinstalled CM and restored the data backup from TWRP.

I had to do it twice, because the first time I must have missed something as the accelerometer stopped working correctly. The second time seems to have worked as intended.

[2016-05-30 21:56] stucki commented on #24
_From @halloalexkern on December 24, 2015 14:24_

Ok, that really went bad.

I flashed all the partitions from the .bat file ... in osx. unfortunately i did't know immediately that rem means a comment.
so i did: fastboot flash partition gpt_both0.bin
and all the rest, but not more rem-lines.

After that the system booted fine and i had no more wifi / sim.

So I thought that section must be for the

[2016-05-30 21:56] stucki commented on #24
_From @Kra1o5 on December 24, 2015 15:42_

Never flash partition init on bat with fastboot rem.

Contact with the technical service.

[2016-05-30 21:56] stucki commented on #24
_From @halloalexkern on December 24, 2015 16:7_

I also think now the technical service will be my only hope. Then it'll be a christmas without a phone...
:-/ AK

[2016-05-30 21:56] stucki commented on #24
_From @Kra1o5 on December 24, 2015 16:7_

Yeah, really bad luck :/

[2016-05-30 21:56] stucki commented on #24
_From @halloalexkern on December 24, 2015 16:8_

What ist that sec.dat part ... just for my understanding?

[2016-05-30 21:56] stucki commented on #24
_From @Kra1o5 on December 24, 2015 16:10_

Not sure, sorry

[2016-05-30 21:56] stucki commented on #24
_From @piwats on December 26, 2015 13:2_

@Kra1o5

Could you put this in the wiki, so people won't destroy even more phones, when they are flashing under unixes?

[code]

[2016-05-30 21:56] stucki commented on #24
_From @Beule70 on January 4, 2016 1:15_

I have downgraded my system to the stable version from 20151213 too.

How can i update the firmware to 3.2.2 (5.1.1) ? CM already running with Base Version is 5.1.1.

Hardware M5 - 3Gb 64.
firmware base : 5.1.1

All Version greater 20151213 makes random reboots!!! What can i do? How to install firmware to 3.2.2 (5.1.1) to get versions greater 20151213 works

[2016-05-30 21:56] stucki commented on #24
_From @antonioborondo on January 12, 2016 14:10_

I have the same question than @Beule70: what's the process to flash the phone with the Firmware 3.2.2? Should we download it from here http://www.mibqyyo.com/en-download/categorias/aquaris-m5/ and install it using TWRP?

[2016-05-30 21:56] stucki commented on #24
_From @Kra1o5 on January 12, 2016 14:21_

Hi @antonioborondo ,

It cant be flashed via TWRP,

You can use this tutorial (On spanish): http://www.htcmania.com/showpost.php?p=21274180&postcount=1

Greetings

[2016-05-30 21:56] stucki commented on #24
_From @antonioborondo on January 13, 2016 11:25_

Thank you very much for the info @Kra1o5! The whole process seems to be a bit tricky! I hope not to brake my phone! :smile:

EDITED: @Kra1o5, I followed the steps on your link and right now I have installed the 12.1-20160113-UNOFFICIAL-piccolo version. It works perfect. Thank you very much for your work!!! :+1:

[2016-05-30 21:57] stucki opened #25 "Orientation sensor doen't work properly"
_From @SIRSteiner on December 22, 2015 13:49_

In version from 21.12.2015 the orientation doesn't work properly. After manual reboot it works a while.
Thank you

PS: Bootloader is the new one.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#25_

[2016-05-30 21:57] stucki commented on #25
_From @piwats on December 22, 2015 17:9_

Can confirm. After some time it gets stuck.

[2016-05-30 21:57] stucki commented on #25
_From @piwats on December 22, 2015 17:17_

Also the magnetic sensor seems to be affected as well. Compass lags or stays stuck.

[2016-05-30 21:57] stucki commented on #25
_From @Kra1o5 on December 23, 2015 12:34_

Can you guys provide a logcat/dmesg?

Thanks

[2016-05-30 21:57] stucki commented on #25
_From @SIRSteiner on December 23, 2015 15:50_

[dmesg.zip](https://github.com/piccolo-dev/android_device_bq_piccolo/files/70966/dmesg.zip)
Here is it...

Kind regards
Ronny Steiner

Am 23. Dezember 2015 13:34:35 MEZ, schrieb Alejandro Lopez notifications@github.com:

[2016-05-30 21:57] stucki commented on #25
_From @Kra1o5 on December 23, 2015 16:9_

@SIRSteiner,

Thanks but not help me much.

I think this problem is selinux related.

@eloimuns can you set selinux to permissive to test it?

[2016-05-30 21:57] stucki commented on #25
_From @SIRSteiner on December 23, 2015 16:11_

Can I help with other commands on terminal as root?

Kind regards
Ronny Steiner

[2016-05-30 21:57] stucki commented on #25
_From @Kra1o5 on December 23, 2015 16:13_

@SIRSteiner , yes.

But it can be more easy using terminal on PC with:

adb pull sepolicy; adb shell su -c dmesg | audit2allow -p sepolicy

Thanks

[2016-05-30 21:57] stucki commented on #25
_From @SIRSteiner on December 23, 2015 16:33_

Here is the first...
Is the second command correct? Pipe in adb shell? I get bash: audit2allow: command not found

Sorry I have to send sepolicy per mail. Upload not possible...
Just a moment...

[2016-05-30 21:57] stucki commented on #25
_From @Kra1o5 on December 23, 2015 16:36_

To use audit2allow you need to have it installed on linux pc.

sepolicy file is needed for compare sepolicy & dmesg.

[2016-05-30 21:57] stucki commented on #25
_From @SIRSteiner on December 23, 2015 16:45_

I use manjaro. No package found for that. But should I send you the sepolicy and the output of
adb shell su -c dmesg
?

I did it. Look at your mail inbox please

[2016-05-30 21:57] stucki commented on #25
_From @Kra1o5 on December 23, 2015 17:10_

You need install: policycoreutils

[2016-05-30 21:57] stucki commented on #25
_From @piwats on December 23, 2015 18:5_

From a fresh reinstalled 3.2.2 and then converted to a clean cm-20151221:

audit2allow gives this out:

[code]

[2016-05-30 21:57] stucki commented on #25
_From @SIRSteiner on December 23, 2015 18:27_

Thank you piwats, because I am not able to install policycoreutils. It is only available in AUR and there are some errors while compiling dependencies, sorry

[2016-05-30 21:57] stucki commented on #25
_From @piwats on December 23, 2015 18:33_

I think my kernel is too new to do a audit2allow. Mine is 4.3.3 vs 3.10.49 on the phone.

[2016-05-30 21:57] stucki commented on #25
_From @SIRSteiner on December 23, 2015 18:37_

I sent Kra1o5 both sepolicy and the dmesg output. Maybe he can do
cat dmesg.txt | audit2allow -p sepolicy
with my files?

[2016-05-30 21:57] stucki commented on #25
_From @piwats on December 23, 2015 18:42_

I made a video showing the compass being stuck/lagging, if needed I can upload it.

[2016-05-30 21:57] stucki commented on #25
_From @Kra1o5 on December 27, 2015 16:20_

Fixed in cm-12.1-20151227-UNOFFICIAL-piccolo.

Greetings

[2016-05-30 21:57] #25 closed, assigned to eloimuns

[2016-05-30 21:57] stucki opened #26 "No mp3 possible for clock alarm"
_From @SIRSteiner on December 22, 2015 13:53_

In versions prior 20.12. there was no problem choosing mp3 as alarm. Now only ogg is possible.
Many thanks

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#26_

[2016-05-30 21:57] stucki commented on #26
_From @Kra1o5 on December 23, 2015 18:11_

Hi @SIRSteiner,

Yeah, https://github.com/CyanogenMod/android_packages_apps_DeskClock/commit/60d907dd2e13350b20d9883b2a55e68f5566ce73

CM add support for OGG files & probably breaks the other formats.

[2016-05-30 21:57] stucki commented on #26
_From @SIRSteiner on December 27, 2015 11:24_

Hello! I think this problem needs small changes because if I rename a MP3 to OGG (no convert) I can use it as alarm and it is playing

[2016-05-30 21:57] stucki commented on #26
_From @Kra1o5 on December 27, 2015 11:43_

Hi @ SIRSteiner,

I will check it for next release (not today release).

Greetings

[2016-05-30 21:57] stucki opened #27 "No HDR Camera Mode available - App is crashing"
_From @andy-de on January 4, 2016 19:44_

When taking a picture with enabled HDR mode the app is crashing.
While using the Google Camera App the app crashes and shows "can't connect to camera".
By using the Cyanogenmod Camera App the app does NOT crash, but there is no difference if the picture was taken with or without HDR.
CM Version: cm-12.1-20151227-UNOFFICIAL-piccolo

Seems the issue is relat

[2016-05-30 21:57] stucki commented on #27
_From @SIRSteiner on January 4, 2016 19:55_

Same here and Open Camera takes no pictures in HDR mode.

[2016-05-30 21:57] stucki commented on #27
_From @hobbypunk90 on January 4, 2016 21:36_

I have the same problem

[2016-05-30 21:57] stucki commented on #27
_From @Kra1o5 on January 4, 2016 21:38_

Hi guys,

Is a libs problems, when it get fixed on stock it will be on CM too.

Greetings

[2016-05-30 21:57] stucki commented on #27
_From @SIRSteiner on January 13, 2016 21:8_

Hi! I don't know why, but with the lastest build (20160113) HDR mode is working with Open Camera.

[2016-05-30 21:57] stucki commented on #27
_From @Kra1o5 on January 13, 2016 21:9_

Hi  @SIRSteiner ,

Its fixed for all cameras.

Greetings

[2016-05-30 21:57] stucki commented on #27
_From @andy-de on January 15, 2016 17:35_

@Kra1o5
HDR works fine (eg Google Camera) but not with the CyanogenMod Camera App. By using the Cyanogenmod Camera App there is still no difference if the picture was taken with or without HDR.
Thank you for your awesome work.  :)

[2016-05-30 21:57] stucki commented on #27
_From @Kra1o5 on January 15, 2016 17:37_

Hi @andy-de ,

Yes, but is more one app problem than device.

[2016-05-30 21:57] stucki commented on #27
_From @andy-de on January 15, 2016 19:23_

Ok, thank you. I thought it might be interesting. ;)

[2016-05-30 21:58] #27 closed, assigned to Kra1o5

[2016-05-30 21:58] stucki opened #28 "Flashlight does not work"
_From @cmorlok on January 11, 2016 21:47_

The flashlight QS tile is inactive. Seems like the system doesn't know about the capabilities.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#28_

[2016-05-30 21:58] stucki commented on #28
_From @piwats on January 21, 2016 0:45_

On cm-13.0-20160120 the behaviour seems to be the same. I noticed the tile when I was changing the tiles, but since the torch tile is somehow gone to where I have no idea about.

[2016-05-30 21:58] stucki commented on #28
_From @cmorlok on January 21, 2016 6:35_

I am still investigating this. It seems to be an upstream issue. The flashlight was working for some time, but it suddenly disappeared again. Our camera reports the available features correctly, but it implements the oldest available interface (Camera1/HAL1). Maybe it's a bug in the Camer2->Camera1 wrapper.

[2016-05-30 21:58] stucki commented on #28
Btw. I'm using Runtastic Sleep Better which also provides a flashlight when the alarm is on, and it works fine there.

[2016-05-30 21:58] stucki commented on #28
_From @cmorlok on January 21, 2016 7:14_

The flashlight itself is working fine. And the camera API correctly returns that is has a flashlight. The problem is somewhere on the way between the Flashlight QS tile and the camera: there is a function that tries to find out if the camera has a flashlight. If this function returns true, the tile is shown, otherwise it doesn't appear. For whatever reason

[2016-05-30 21:58] stucki commented on #28
_From @cmorlok on January 28, 2016 16:54_

Fixed in build 2016/01/24.

[2016-05-30 21:58] #28 closed, assigned to nobody

[2016-05-30 21:58] stucki opened #29 "Preferred SIM for Cellular data switches between SIM 1 and 2"
_From @cmorlok on January 11, 2016 21:51_

After reboots, mobile data is sometimes automatically set to SIM 2

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#29_

[2016-05-30 21:58] stucki commented on #29
I can confirm this. It may be fixed since yesterday, see http://review.cyanogenmod.org/#/c/128480
However, I'm unable to make a new build since then (still checking the reason...).

[2016-05-30 21:58] stucki commented on #29
_From @cmorlok on January 17, 2016 22:33_

128480 fixes something else.

This bug has been introduced by http://review.cyanogenmod.org/#/c/121239
For details, see my comment there.

I have reverted this change for build 20160117, so it should temporarily be fixed now.

[2016-05-30 21:58] stucki commented on #29
_From @cmorlok on January 29, 2016 7:19_

Waiting for the fix http://review.cyanogenmod.org/#/c/130332 to be merged.

[2016-05-30 21:58] stucki commented on #29
_From @cmorlok on February 3, 2016 21:7_

Has been merged on Feb 1st, will be fixed in next build.

[2016-05-30 21:58] stucki commented on #29
_From @Kra1o5 on February 3, 2016 21:8_

We now release weekly builds.

Greetings

[2016-05-30 21:58] stucki commented on #29
_From @cmorlok on February 15, 2016 10:21_

Fixed in 2016/02/07

[2016-05-30 21:58] #29 closed, assigned to nobody

[2016-05-30 21:59] stucki opened #30 "Preferred network type can't be changed"
_From @cmorlok on January 11, 2016 21:52_

It's always 4G on SIM 1 and 2G on SIM 2, no matter what has been selected in settings.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#30_

[2016-05-30 21:59] stucki commented on #30
_From @cmorlok on January 12, 2016 21:7_

Fixed.

[2016-05-30 21:59] stucki commented on #30
_From @cmorlok on January 18, 2016 8:25_

If network type still can't be changed, it might be because of #35

[2016-05-30 21:59] #30 closed, assigned to nobody

[2016-05-30 21:59] stucki opened #31 "Bluetooth power consumption is calculated wrong"
_From @cmorlok on January 11, 2016 21:57_

![screenshot_20151214-085638](https://cloud.githubusercontent.com/assets/1296377/12247954/bd5c67d2-b8b6-11e5-9619-f3d66a70abfa.png)
![screenshot_20151214-085644](https://cloud.githubusercontent.com/assets/1296377/12247955/bd76eaee-b8b6-11e5-8523-b14ccca01ee8.png)

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#31_

[2016-05-30 21:59] stucki commented on #31
_From @Kra1o5 on January 11, 2016 21:59_

Yes, we need to set value in overlay to fix it.

[2016-05-30 21:59] stucki commented on #31
_From @cmorlok on January 12, 2016 21:7_

Fixed.

[2016-05-30 21:59] #31 closed, assigned to nobody

[2016-05-30 22:00] stucki opened #32 "GoogleCamera: Video mode broken"
_From @halloalexkern on January 13, 2016 12:22_

I get a force-close in CM13 (20160112), when i switch to video in Google Camera app.
In CM13-Camera app, the app simply closes after switching to video. Reopening closes it immediately, as it remembers, that it was in video-mode.

Thanks for awesome-developing!

:-) AK

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#32_

[2016-05-30 22:00] stucki commented on #32
_From @cmorlok on January 13, 2016 12:59_

Confirmed. FC on Snap as well.

[2016-05-30 22:00] stucki commented on #32
_From @cmorlok on January 14, 2016 22:14_

Video works with Google Camera and Camera2, but not with the new Snapdragon Camera.

[2016-05-30 22:00] stucki commented on #32
_From @halloalexkern on January 15, 2016 9:44_

For me, the video in com.google.android.GoogleCamera v3.1.021 doesn't work in 20160112.
I installed it with 6.0 opengapps-stock.
org.cyanogenmod.snap v2.0.002 doesn't work either.
:-) AK

[2016-05-30 22:00] stucki commented on #32
_From @halloalexkern on January 15, 2016 12:7_

Oh i didn't see that the 2016014 update is out.
Doesn't show up in Cyanogenmod updates. Is that another issue?

[2016-05-30 22:00] stucki commented on #32
_From @Kra1o5 on January 15, 2016 12:12_

Hi @halloalexkern ,

CM13.0 not have OTAs enable yet.

[2016-05-30 22:00] stucki commented on #32
_From @cmorlok on January 19, 2016 7:57_

Hi @halloalexkern. You can find the unofficial pre-releases on XDA.

[2016-05-30 22:00] stucki commented on #32
_From @cmorlok on January 19, 2016 8:11_

Some tests on build 20160117:
- good: Camera2 2.0.002 (com.android.camera2, 902c8585600a-30, builtin): Video recording works
- good: OpenCamera 1.27 (net.sourceforge.opencamera):  Video recording works
- good: GoogleCamera 2.5.052 (com.google.android.GoogleCamera, 2005148-30, latest Play Store version for our phone): Video recording works
- bad: GoogleCame

[2016-05-30 22:00] stucki commented on #32
_From @cmorlok on January 28, 2016 16:55_

Fixed in build 2016/01/24.

[2016-05-30 22:00] stucki commented on #32
_From @cmorlok on February 3, 2016 21:22_

GoogleCamera 3.1.021 still FC when switching to video mode

[2016-05-30 22:00] stucki commented on #32
_From @Kra1o5 on February 3, 2016 21:24_

Yes, now I use SnapCamera (HDR still pending).

[2016-05-30 22:00] stucki commented on #32
_From @cmorlok on February 17, 2016 16:56_

I have opened #53 for further HDR discussions

[2016-05-30 22:00] stucki opened #33 "cmhw: Add KeyDisabler control support"
_From @djselbeck on January 13, 2016 19:52_

Requires corresponding patch for device kernel.

Change-Id: Ie2759f6b0943e38c49400dd360b43dd892d69274

_Copied from original issue: piccolo-dev/android_device_bq_piccolo/pull/33_

[2016-05-30 22:08] #33 closed, assigned to nobody

[2016-05-30 22:31] stucki commented on #33
(Note: copy of the original issue failed, so I'm stopping here because the original issue was already closed. Reference: piccolo-dev/android_device_bq_piccolo#33)

[2016-05-30 22:31] stucki opened #34 "Roaming by default"
_From @halloalexkern on January 14, 2016 9:42_

I dont know if it's a bug ... but it could get expensive (for somebody who travels often between switzerland and EU ;-)

Roaming on both SIM-cards was automatically set to „on“ after a clean install of CM13 (20150112) (install-langauge: English-US)

:-) AK

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#34_

[2016-05-30 22:31] stucki commented on #34
_From @cmorlok on January 14, 2016 9:58_

This has been fixed upstream: http://review.cyanogenmod.org/#/c/127943/

Will be fixed in the next build.

[2016-05-30 22:32] #34 closed, assigned to nobody

[2016-05-30 22:32] stucki opened #35 "SIM 2: Cannot switch back from 2G to 3G / LTE"
_From @stucki on January 17, 2016 9:30_

I added a new APN for the 2nd SIM card. Not sure if it's because of that or not, however:

Since then, the 1st SIM was had network turned off. I could only fix it by changing the network mode to 2G. However, now I'm unable to switch back to 3G or LTE. It doesn't work through settings and it neither works using the `*#*#4696#*#*` menu. Also in logcat, I don'

[2016-05-30 22:32] stucki commented on #35
Hmm, don't know if this problem is really device specific or not. At least, I found a simple workaround for it:
I turned the phone off, swapped the SIM cards, and booted again. LTE was immediately working again. So I turned the phone off again and swapped the SIM cards back into their original slots, and it looks like the problem is gone.
I am now able to switch from LTE to 3G and 2G, and back to

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on January 18, 2016 8:21_

This is not APN related. I am having the same issue, but I didn't change any to APN setttings. All I did was to enable 4G on the second SIM. Seems like there are more upstream bugs to address.

Workaround: remove the non-data SIM, set data to 4G, insert the non-data SIM again (no need to reboot, hotswap is working).

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on January 19, 2016 7:41_

This might be fixed by http://review.cyanogenmod.org/#/c/128511/ and http://review.cyanogenmod.org/#/c/128512/

I will test it tonight.

[2016-05-30 22:32] stucki commented on #35
Seems to work now. I cannot reproduce the problem anymore. Also the SIM preference is now preserved after reboot.

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on January 20, 2016 8:48_

Hi @stucki

Are you testing my build, or did you build on your own?

[2016-05-30 22:32] stucki commented on #35
I'm using my own build which was built yesterday night.

[2016-05-30 22:32] stucki commented on #35
Hmm, the problem is not fixed. Just had the same issue again on the other SIM card... :-/

[2016-05-30 22:32] stucki commented on #35
_From @piwats on January 20, 2016 23:52_

Can confirm, same behaviour here. cm-13-20160120

[2016-05-30 22:32] stucki commented on #35
_From @piwats on January 21, 2016 0:20_

#39 seems to be _very_ related, because when I try to change the network type from 2G to 3G or LTE, I start to see segfaults of android.settings in dmesg:

That one particular happened just during the switch to 3G or LTE from 2G:

[code]

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on January 21, 2016 6:37_

Is there anything shown in logcat at this point in time? (either "logcat -b system" or "logcat -b radio")

[2016-05-30 22:32] stucki commented on #35
_From @piwats on January 21, 2016 14:40_

@cmorlok: I'll do. However, it will take some time, as I have tried out cm-13.0-20160120 yesterday just of curiosity. At the moment cm-12.1 is back on the phone again. Maybe tonight I'll flash it over again.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on January 24, 2016 18:19_

with 20160124 I get this:

most important:

[code]

in system

[code]

and radio:

[code]

and dmesg as usual:

[code]

[2016-05-30 22:32] stucki commented on #35
_From @piwats on January 24, 2016 18:25_

Ah, and android.settings segfault errors are also the same to observe as previously shown...

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on January 27, 2016 9:8_

@piwats Can you describe exactly (step by step) what you are doing before you get this error? I cannot reproduce it.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on January 27, 2016 14:50_
1. I switch card2 to 2G if it was  LTE.
2. I try to switch from 2G to 3G or LTE back. With no result, Bering stuck in 2G.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on January 27, 2016 16:53_

I've forgot to mention I use 2 sim cards. card1 only for sms/voice, no edge,lte, or co. card2 is LTE only.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 1, 2016 16:24_

cm-13-20160131:

dmesg gives during the start a ton of those segfault errors.

Now the behavior has changed:

When I try to change the network type from LTE to 3G nothing happens, apart from  m.android.phone faulting again.

Although I see LTE in the setting of the 2nd card, only an "E" is displayed. So is the speed. At the moment I can't get LTE to work.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 2, 2016 16:19_

It seems to be a CM13 related bug. I have reports on the same behavior on CM13 nightlies fot the Moto G 2014.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 3, 2016 10:40_

Behavior confirmed over at http://www.htcmania.com/showthread.php?t=1130019&page=21

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 3, 2016 12:51_

Similar situation described here:

http://forum.xda-developers.com/nexus-4/help/cm13-switching-to-wdcma-t3280353

And a patch is provided here, has to be changed accordingly:

http://review.cyanogenmod.org/#/c/125897/

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on February 3, 2016 13:33_

@piwats That patch is for #30 and has already been applied. This bug here is only for the second SIM (I have changed the title to make that clear). On SIM 1 you can chose any network mode including 4G.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 3, 2016 14:14_

At the moment, with cm13-20160130, I can't choose the mode even on sim1. At the moment it is stuck with LTE;  3G or 2G cannot be chosen. The signal status shows me an "E" while the sim settings shows me that LTE is chosen. Also the behavior is the same as sim2 at the moment.

dmesg shows task.ti and android.settings segfaulting all the time. I have no idea

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 3, 2016 17:41_

aout the patch: I looked through cyanogenmod sources of various devices. It seems that most of them have not applied it.

At this point, does it even has an impact?

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on February 3, 2016 21:17_

Has been merged upstream and will be fixed in the next build: http://review.cyanogenmod.org/#/c/126364/

Before this change, we would have to set `ro.ril.multi_rat_capable` to `true` to enable 3G/LTE on SIM 2.

It's still not perfect, you will have to change SIM 1 to 2G manually before being able to set the network mode on SIM 2.

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 4, 2016 10:11_

Yay! That's something.

However, why is there this problem which seems not to be in cm12.1?

[2016-05-30 22:32] stucki commented on #35
_From @piwats on February 7, 2016 20:10_

cm-13-20160207: Improvement is evident.
LTE sim2 is back again and working.
Though sim1 has to be in 2g mode.

This can be understand as a workaround. Still, improvement is needed until on par with cm12.

[2016-05-30 22:32] stucki commented on #35
_From @starvoid on February 8, 2016 9:18_

I'm using the cm-13-20160207 image.

When I try to change the network mode of the SIM2 from 2G to 3G or LTE, it seems no has effect. The same interface works fine for SIM1.

Thanks for your effort and good work.

Please, find attach the logcat in that moment:

02-08 10:12:07.007 2332 2332 D wpa_supplicant: wlan0: Control interface command 'SIGNAL_POLL'
02

[2016-05-30 22:32] stucki commented on #35
_From @cmorlok on February 8, 2016 10:42_

You have to change network mode of SIM 1 to 2G first. Then you'll be able to switch SIM 2 to 3G or LTE.

[2016-05-30 22:32] stucki opened #36 "Kernel DIAG_CHAR for radio debug & SnoopSnitch"
_From @piwats on January 20, 2016 22:39_

Hello,

would it be possible to enable DIAG_CHAR in the kernel, so one can use SnoopSnitch?

via https://opensource.srlabs.de/projects/snoopsnitch

This one has no priority at all.

Thanks in advance :)

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#36_

[2016-05-30 22:32] stucki commented on #36
_From @cmorlok on January 27, 2016 13:46_

This has been enabled right from the beginning:
https://github.com/piccolo-dev/android_kernel_bq_piccolo/blame/cm-12.1-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1691
https://github.com/piccolo-dev/android_kernel_bq_piccolo/blame/cm-13.0-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1692

Do you have any problems with the app?

[2016-05-30 22:32] stucki commented on #36
_From @piwats on January 27, 2016 13:59_

That's great news.

I was not sure about whether it was actually enabled.

[2016-05-30 22:32] #36 closed, assigned to nobody

[2016-05-30 22:33] stucki opened #37 "cm-13: double tap activation not working"
_From @piwats on January 20, 2016 23:37_

With the first cm-13 build from 20th of January (cm-13-20160120), double tap to wake up is not working.

Logcat shows absolutely nothing, neither when I'm double taping on the display, no when I enable or disable double tap in the settings.

Double tap for standby is working, though.

dmesg is a source of fortune:

[code]

_Copied from original issue: picc

[2016-05-30 22:33] stucki commented on #37
_From @Kra1o5 on January 30, 2016 23:19_

Already fixed.

[2016-05-30 22:33] #37 closed, assigned to nobody

[2016-05-30 22:33] stucki opened #38 "cm-13: sensors not working"
_From @piwats on January 20, 2016 23:46_

cm-13-20160120: Orientational sensors are not working.

Proximity and light sensors are working, though.

Maybe #37 is related to this.

dmesg is full of:

[code]

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#38_

[2016-05-30 22:33] stucki commented on #38
_From @cmorlok on January 21, 2016 7:8_

SELinux needs to be updated

[2016-05-30 22:33] stucki commented on #38
_From @cmorlok on January 28, 2016 16:53_

Fixed in build 2016/01/24.

[2016-05-30 22:33] #38 closed, assigned to nobody

[2016-05-30 22:33] stucki opened #39 "Kernel oopses?"
_From @piwats on January 21, 2016 0:1_

cm-13-20160120: dmesg is full of this kind of errors:

It seems, that android.settings segfaults.

I am not sure, but maybe this is somehow related to #35?

[code]

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#39_

[2016-05-30 22:33] stucki commented on #39
_From @piwats on January 27, 2016 6:8_

Definitely related to #35

[2016-05-30 22:34] stucki opened #40 "Adoptable storage broken after upgrade"
_From @halloalexkern on January 21, 2016 14:21_

I upgraded from CM13(160114) to CM13(160117) ...

After the Apps-initialising the SIM-pin-screen i got a lot of error-messages, that various apps were closed.
And one message, that my SD-card cannot be read.
I previously formatted that as „internal storage“ (not as „portable“).
I can imagine that the FCs had something to do with the app-data stored

[2016-05-30 22:34] stucki commented on #40
_From @cmorlok on January 21, 2016 14:31_

Can you provide us some logcats?

[2016-05-30 22:34] stucki commented on #40
_From @halloalexkern on January 21, 2016 16:19_

sorry, i'm already on 160114 again ... i would have to reinstall 160117

[2016-05-30 22:34] stucki commented on #40
_From @halloalexkern on January 22, 2016 8:22_

Does anybody use the SD-card-internal-storage feature? or even upgraded succesfully (to 20160117 or later?)

[2016-05-30 22:34] stucki commented on #40
_From @halloalexkern on January 23, 2016 12:56_

I formatted the SD-card to portable before upgrading to 160120... then everything worked out fine.
:-) AK

[2016-05-30 22:34] stucki opened #41 "sepolicy: Fix sensord permissions"
_From @djselbeck on January 22, 2016 23:15_

Change-Id: If8652bee16b156553ff70253a58783b133b9038e

_Copied from original issue: piccolo-dev/android_device_bq_piccolo/pull/41_

[2016-05-30 22:34] stucki commented on #41
_From @djselbeck on January 22, 2016 23:17_

Sensord isn't allowed writing in /data/misc/sensor. After that system_server needs to be allowed to rw sensord's fifo_files. This fixes it and all the sensors work again

[2016-05-30 22:34] stucki commented on #41
_From @Kra1o5 on January 22, 2016 23:18_

Thanks! @djselbeck .

Merged

[2016-05-30 22:34] stucki commented on #41
_From @Kra1o5 on January 22, 2016 23:25_

Yes, atmel_ts service need a domain too.

Is the only bug left to have selinux fully working without denials.

[2016-05-30 22:34] #41 closed, assigned to nobody

[2016-05-30 22:34] stucki opened #42 "Double tap activation not working when charging"
_From @piwats on January 28, 2016 12:37_

When the phone is charging and the charging cable is connected, double tap to activate is **not** working/responding.

When not charging and the cable is disconnected, double tap is working as it should.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#42_

[2016-05-30 22:34] stucki commented on #42
_From @piwats on January 28, 2016 12:53_

Does only happen when on external charger.

When connected to a laptop, it seems to work though.

[2016-05-30 22:34] stucki commented on #42
_From @piwats on January 29, 2016 10:32_

Seems to not work only if charging, e.g. <95%.

[2016-05-30 22:34] stucki commented on #42
_From @Kra1o5 on January 30, 2016 23:21_

We can take a look into it.

@eloimuns can test it?

[2016-05-30 22:35] stucki opened #43 "GPS location icon"
_From @1tft on January 29, 2016 10:2_

Hello, first I want to say a big respect for this CM13 Rom for Aquaris M5.
I'm really enjoying this stable and smooth ROM. Thank you! Is there any way to donate via bitcoin because I don't want to make evil Paypal more profit?!

One question to this ROM: With Android 4.x / CM 11.x location icon was blinking/flashing when searching for a fix and only was perma

[2016-05-30 22:35] stucki commented on #43
_From @piwats on January 29, 2016 10:7_

cm-13 is yet not fully complete in comparison with cm-12.1.

If you have noticed, there are no indicators of downloading on the wifi and sim icons, too.

Please be patient. Cyanogen has not released cm-13 yet. At this point it is still experimental and even lacks some of the futures common, available and very appreciated in cm-12.

[2016-05-30 22:35] stucki commented on #43
_From @Kra1o5 on January 30, 2016 23:21_

Yes, CM13.0 is WIP upstream.

[2016-05-30 22:35] stucki commented on #43
_From @1tft on January 31, 2016 9:55_

Thank you for this information. @Kra1o5 do you have a bitcoin address so that I can say thx for this great ROM?

[2016-05-30 22:35] stucki commented on #43
_From @Kra1o5 on January 31, 2016 9:59_

@1tft , not but dont worry I do this for fun its a hobby.

Greetings

[2016-05-30 22:35] stucki opened #44 "Impossible to remove Heads up notifications"
_From @airesdp on January 30, 2016 17:14_

It seems to work, but when you recieve three continued notifications, the head up appears.
I tested with third-party applications and the same thing happens. No way to fix it.

---

_No se pueden desactivar las notificaciones Heads up. Parece que funciona, pero en cuanto llegan tres notificaciones seguidas vuelve a aparecer. Ni siquiera con otras aplicaci

[2016-05-30 22:35] stucki commented on #44
_From @Kra1o5 on January 30, 2016 23:23_

Hi @airesdp ,

Thanks for the feedback, can you provide us one logcat?

[2016-05-30 22:35] stucki commented on #44
_From @airesdp on January 31, 2016 14:1_

I'll find how to do that and tomorrow morning i'll do it. I've asked to other users about the problem and the same happen to them.

Thank you for your job!!

[2016-05-30 22:36] stucki opened #45 "Headset buttons sometimes not working, double tap at the same time, too."
_From @piwats on January 31, 2016 5:59_

Headset controls (buttons) for volume up/down sometimes stop working.

Coincidentally, double tap stops working at the same time.

When I turn on the display by the power on button, and reconnect the headset again, all is fine and everything seems to work again.

This odd behaviour I haven't seen in CM12.

I guess that double tap and headset controls are co

[2016-05-30 22:36] stucki commented on #45
_From @piwats on February 1, 2016 16:14_

This is on cm-13-20160131.

I have a way to reproduce it:

Prerequisites:

turn off music player, headset not inserted.

insert headset.

**Action 1: Volume Up:**

logcat:

[code]

Action 1 result: Volume goes up. (Telephone symbole and volume shifter are shown)

**Action 2: Middle button/pause or call button:**

[code]

Action 2 result: Nothing happens.

[2016-05-30 22:36] stucki commented on #45
_From @piwats on March 5, 2016 15:53_

In recent builds double tap seems to work without any flaws. Thus I have to assume the problems with double tap were upstream related.

[2016-05-30 22:36] stucki commented on #45
_From @piwats on April 4, 2016 22:6_

seems to be somehow fixed by upstream.

closing :)

[2016-05-30 22:36] #45 closed, assigned to nobody

[2016-05-30 22:36] stucki opened #46 "USB mode settings are not saved"
_From @piwats on January 31, 2016 11:44_

When connecting to a laptop, for file transfer one has to set the mode to MTP every time a connection is made.

It seems that CM13 does not yet save this setting.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#46_

[2016-05-30 22:36] stucki commented on #46
_From @Kra1o5 on January 31, 2016 11:47_

Yeah, now the default behavior is charger.

[2016-05-30 22:36] stucki commented on #46
_From @piwats on January 31, 2016 12:17_

Is it intentional or a bug then?

[2016-05-30 22:36] stucki commented on #46
_From @Kra1o5 on January 31, 2016 12:19_

Now We dont set default to mtp.

[2016-05-30 22:36] stucki commented on #46
_From @piwats on January 31, 2016 12:41_

This is indeed intentional and a major change in 6.0.

No bug at all.

[2016-05-30 22:36] #46 closed, assigned to nobody

[2016-05-30 22:36] stucki opened #47 "Camera still not perfect"
_From @halloalexkern on February 1, 2016 6:27_

Cm13-160124:
1. Google Camera 3.1.021 still force closes when switching to video mode. (can't connect to the camera) - this wasn't fixable, right?
2. CM camera 2.0.002 force closes when i click on the gallery.

Can anybody reproduce this?

:-) AK

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#47_

[2016-05-30 22:36] stucki commented on #47
_From @piwats on February 1, 2016 6:39_

Have you tried cm-13-20160131?

[2016-05-30 22:36] stucki commented on #47
_From @1tft on February 1, 2016 9:22_

@halloalexkern 2.: Can't reproduce with cm-13-20160131. For me camera/gallery switching is working fine.

[2016-05-30 22:36] stucki commented on #47
_From @cmorlok on February 3, 2016 21:21_

Duplicate of #32.

[2016-05-30 22:37] #47 closed, assigned to nobody

[2016-05-30 22:37] stucki opened #48 "Selecting network doesn't work for SIM 2"
_From @starvoid on February 8, 2016 9:9_

When I try to change the network mode of the SIM2 from 2G to 3G or LTE, it seems no has effect. The same interface works fine for SIM1.

I'm using the 7/1/2016 image.

Thanks for your effort and good work.

Please, find attach the logcat in that moment:

02-08 10:12:07.007  2332  2332 D wpa_supplicant: wlan0: Control interface command 'SIGNAL_POLL'
02-08 1

[2016-05-30 22:37] stucki commented on #48
_From @starvoid on February 8, 2016 9:18_

duplicate issue

[2016-05-30 22:37] stucki commented on #48
_From @dkati on March 21, 2016 1:25_

so what was the solution on this :/ ?

[2016-05-30 22:37] stucki commented on #48
_From @piwats on March 21, 2016 6:12_

You first choose the mode on SIM1, then you can choose the mode on SIM2.

[2016-05-30 22:37] #48 closed, assigned to nobody

[2016-05-30 22:38] stucki opened #49 "Random reboots"
_From @andresako on February 14, 2016 10:38_

Yesterday I try to upgrade my M5 to cm13 with a very bad results.

At first, reboots after 5 min, I try to find the last_kmsg without luck.

After all day, I decided to downgrade to a stable cm12, but I still having this random reboots, maybe after 3 or 4 hours, but I cant let it like this.

I want to help you to fix it, what can I do?

Ps. Last_kmsg s

[2016-05-30 22:38] stucki commented on #49
_From @cmorlok on February 14, 2016 10:46_

Have you upgraded to the latest ROM from BQ (at least 3.2.2) before
installing CM?

[2016-05-30 22:38] stucki commented on #49
_From @andresako on February 14, 2016 10:50_

I thought so, I was using the cm12 at V, 20151213 without problems  since this summer.
I need to install the official bq rom before cm13?

[2016-05-30 22:38] stucki commented on #49
_From @cmorlok on February 14, 2016 11:12_

You need to install the latest BQ ROM for any CM after 20151220.

[2016-05-30 22:38] stucki commented on #49
_From @andresako on February 14, 2016 11:15_

Damn!
I'm on it right now  TY!

ps. to do that... ? ''^.^

[2016-05-30 22:38] stucki commented on #49
_From @cmorlok on February 14, 2016 11:20_

Be aware that you have to unlock the bootloader after installing the latest
BQ ROM. Normally, this will wipe the phone completely (including internal
SD). There are some instructions on the web about how to avoid that.

[2016-05-30 22:38] stucki commented on #49
_From @andresako on February 14, 2016 18:24_

ok so, upgrading my status:

Now I have the last stock rom installed.
Reboots errors seems to have solved.

My problem now is I can't install the TWRP,
i'm trying with TWRP 3.0.img

adb reboot bootloader  //enter on fastboot
fastboot flash recovery twrp.img  //cmd close normally (?)
fastboot reboot  //reboot and still the stock recovery

What i'm doing

[2016-05-30 22:38] #49 closed, assigned to nobody

[2016-05-30 22:38] stucki opened #50 "Double tap to wake not working in 13.0-20160214"
_From @1tft on February 15, 2016 9:24_

Helle, just upgraded from 13.0-20160207 to 13.0-20160214 and double-tap to wake not working any longer.
Switched settings and rebooted phone but problem still exists.
Tap to sleep is still working.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#50_

[2016-05-30 22:38] stucki commented on #50
_From @piwats on February 15, 2016 12:55_

Same here.

@Kra1o5: Is an update to the 3.2.7 bootloader needed?

[2016-05-30 22:38] stucki commented on #50
_From @PabloGPZ on February 15, 2016 16:43_

Same. I can lock the phone by hitting twice in the status bar, but I cannot wake it double-tapping the screen.

[2016-05-30 22:38] stucki commented on #50
_From @Kra1o5 on February 15, 2016 20:46_

Hi,

Will be fixed in 13.0-20160215 build.

Greetings

[2016-05-30 22:38] stucki commented on #50
_From @1tft on February 17, 2016 9:19_

It's fixed. Thank you very much!
Issue can be closed.

[2016-05-30 22:38] stucki opened #51 "Sound Recorder can not save recordings to SD card"
_From @1tft on February 15, 2016 9:30_

Don't know if it is a CM13 problem or a piccolo one.
Just wanted to mention that if you choose "SD card" as Storage location in the the SoundRecorder settings and start recording you get the error message "Unfortunaely, Sound Recorder has stopped"
Everything is working fine with setting Storage location -> Phone storage.
Affected 13.0-20160214 and former 13.

[2016-05-30 22:38] stucki commented on #51
_From @cmorlok on February 15, 2016 9:35_

Logcats, please.

[2016-05-30 22:38] stucki commented on #51
_From @1tft on February 15, 2016 10:28_

W/PackageManager( 787): Not granting permission android.permission.WRITE_MEDIA_STORAGE to package com.android.soundrecorder (protectionLevel=18 flags=0x3008be45
W/PackageManager( 787): Not granting permission android.permission.CAPTURE_AUDIO_OUTPUT to package com.android.soundrecorder (protectionLevel=18 flags=0x3008be45

[2016-05-30 22:38] stucki commented on #51
_From @cmorlok on February 15, 2016 10:39_

I can reproduce the issue, there are no open upstream commits.

[2016-05-30 22:38] stucki commented on #51
_From @1tft on March 20, 2016 11:45_

Hello, want to tell some more information about the latest situation I explored. Maybe someone is also faced with this problem.

2 bq M5 phones

First phone: Firmware 3.2.8
CM13.0-20160306 installed, but updated from earlier CM13 versions (only with dalvik and cache wipe).

Sound recorder says "can't access SD card" (no crash anymore!), but all neccessary righ

[2016-05-30 22:38] stucki commented on #51
_From @Kra1o5 on March 20, 2016 11:51_

Hi @1tft ,

Same behavior for me.

One question,

Second SD card have the format of MM ?

[2016-05-30 22:39] stucki commented on #51
_From @1tft on March 20, 2016 13:58_

MM?
Both SD cards are used as external (portable photo media). One SD 8GB with Fat32, second one 128GB with exFat.

[2016-05-30 22:39] stucki commented on #51
_From @cmorlok on March 21, 2016 14:54_

It's still an open upstream issue (see comments on http://review.cyanogenmod.org/#/c/133098/ ). Seems like it has very low priority, no one cares about it.

[2016-05-30 22:39] stucki opened #52 "Hall sensor lockscreen feature"
_From @PabloGPZ on February 17, 2016 16:6_

Is currently supported the feature that wakes the screen when using the official cover? I mean, when the hall sensor detect a magnetic field from the magnet inside the cover while you are closing and opening it lo unlock the phone. It's a pretty useful feature that the official ROM from BQ has.

_Copied from original issue: piccolo-dev/android_device_bq_

[2016-05-30 22:39] stucki commented on #52
_From @cmorlok on February 17, 2016 16:52_

Is this a question or a bug report? Hall sensor should work in CM12.1 and CM13.0.

[2016-05-30 22:39] stucki commented on #52
_From @PabloGPZ on February 17, 2016 17:1_

If it's supposed to work then it's a bug report. When I previously had the official ROM from BQ I could lock and wake the screen by closing and opening the official cover, like the Nexus 5 does. I just could be wrong but as far as I know the cover has a magnet that is detected by the hall sensor in order to lock and wake the screen.
Thanks for the help a

[2016-05-30 22:39] stucki commented on #52
_From @cmorlok on February 17, 2016 17:10_

This is the correct place for reporting bugs.

Which build of CM do you have installed?

[2016-05-30 22:39] stucki commented on #52
_From @PabloGPZ on February 17, 2016 17:12_

13.0-20160215-UNOFFICIAL-piccolo in my BQ M5

[2016-05-30 22:39] stucki commented on #52
_From @Kra1o5 on February 17, 2016 17:26_

Hi @PabloGPZ @cmorlok ,

Support is there:

https://github.com/piccolo-dev/android_kernel_bq_piccolo/blob/cm-13.0-test/arch/arm/configs/cyanogenmod_piccolo_defconfig#L1629

https://github.com/piccolo-dev/android_device_bq_piccolo/blob/cm-13.0-test/overlay/frameworks/base/core/res/res/values/config.xml#L120

But I cant test if this works or not because I d

[2016-05-30 22:39] stucki commented on #52
_From @cmorlok on February 17, 2016 17:29_

@ https://github.com/PabloGPZPabloGPZ https://github.com/PabloGPZ can
you send us a picture where the magnet is located in the case? I don't have
one either, but it should work with any other magnet as well.

[2016-05-30 22:39] stucki commented on #52
_From @PabloGPZ on February 17, 2016 17:54_

I've tried with another magnet from google's cardboard VR (they work fine with the app so I know the magnetic sensor is working) and it doesn't do anything, I've also tried to read the information from the magnetic sensor and when I put close the magnet and it reads it. The magnet from the cover is also attracting iron,so it's there. I don't know where'

[2016-05-30 22:39] stucki commented on #52
_From @Kra1o5 on February 28, 2016 12:46_

Hi @PabloGPZ ,

Sorry for the delay.

@eloimuns , @cmorlok Can you test it?

Regards

[2016-05-30 22:39] stucki opened #53 "HDR doesn't work"
_From @cmorlok on February 17, 2016 16:55_

I have compared the logcats while taking HDR pictures in CM12.1 and CM13.0 (using GoogleCamera 2.5). It seems like the HDR scene mode isn't enabled at all. I will extend the camera wrapper to see more details.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#53_

[2016-05-30 22:39] stucki commented on #53
_From @cmorlok on February 18, 2016 22:46_

I really don't understand what's going wrong. This is what it looks like in CM13.0:

[code]

and this is what it should look like (from CM12.1):

[code]

The `set_parameters` function calls all the `QCameraParameters::set` functions in the log. The interesting one is `QCameraParameters::setSceneMode(const QCameraParameters& params)`. According to the ref

[2016-05-30 22:39] stucki commented on #53
_From @cmorlok on February 18, 2016 23:8_

I missed one important thing: while CM12.1 is still using the 3.2.2/3.2.6 camera blobs, CM13.0 is updated to 3.2.7. I will have to compare again with stock 3.2.7 instead of CM12.1.

[2016-05-30 22:39] stucki commented on #53
_From @cmorlok on February 22, 2016 20:39_

The critical logcat entry is here:

[code]

The blobs libmmcamera_hdr_lib.so and libmmcamera_hdr_gb_lib.so are not compatible with M. They would have to be shimmed, but I didn't find what exactly cause the error.

I have replaced those blobs by the ones from Wileyfox Storm (build and linked against M by Cyngn, see https://github.com/cmorlok/proprietary_v

[2016-05-30 22:39] stucki commented on #53
_From @Kra1o5 on February 22, 2016 20:42_

Hi @cmorlok ,

Thanks for the awesome work finding it! :)

I will check if we can use our camera blobs or not asap.

Greetings

[2016-05-30 22:39] stucki commented on #53
_From @cmorlok on February 22, 2016 20:54_

I tried to compare the L and the M blobs from Wileyfox, but I don't see any external reference which has changed. I also tried to shim L's VectorImpl.cpp (which is needed for camera blobs on some other devices), but that didn't help either.

[2016-05-30 22:39] stucki commented on #53
_From @Kra1o5 on February 28, 2016 16:18_

Fixed in cm-13.0-20160228-UNOFFICIAL-piccolo .

[2016-05-30 22:39] stucki opened #54 "Problems with Bluetooth"
_From @fermaxando on February 19, 2016 23:3_

When i will going to share my conexion from bluetooth by PAN Network (Wifi's zone section), the computer doesn't connect y was try with 3 computers with differents bluetooth.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#54_

[2016-05-30 22:39] stucki commented on #54
_From @Kra1o5 on February 28, 2016 12:45_

Hi,

Please specific version of CM.

Greetings

[2016-05-30 22:39] stucki opened #55 "SIM not available on first boot after update"
_From @cmorlok on February 22, 2016 20:59_

Directly after an update (rebooting directly from TWRP), SIMs are sometimes not available. Everything is fine after rebooting.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#55_

[2016-05-30 22:39] stucki commented on #55
_From @Kra1o5 on February 22, 2016 21:1_

Really weird, maybe upstream issue?

For now I cant reproduce it, @eloimuns you did?

[2016-05-30 22:39] stucki commented on #55
_From @cmorlok on February 22, 2016 21:9_

It's not really reproduceable, I get it on about 1 of 10 updates. On the german forum one guy reported the issue as well after an OTA update. It might be a timing issue.

[2016-05-30 22:39] stucki opened #56 "Incorrect labeling of button backlight control CM-13.0"
_From @SIRSteiner on February 25, 2016 22:32_

To set auto-off button backlight to "never" (backlight always on) you have to set "35 s" (right edge of the slider). And if you set it to "never" (left edge of the slider) backlight will be on only 1 s.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#56_

[2016-05-30 22:39] stucki commented on #56
_From @Kra1o5 on February 28, 2016 12:48_

Hi @SIRSteiner ,

Yeah, because you set never but it set 1s.

Its a CM upstream issue not device specific.

Greetings

[2016-05-30 22:39] stucki commented on #56
_From @SIRSteiner on May 9, 2016 5:18_

This seems to be fixed.

[2016-05-30 22:39] stucki opened #57 "GPS not working"
_From @piwats on February 28, 2016 22:22_

Hello,

thanks for the updates :+1:

Unfortunately, the last update of cm-13 from February 28th made GPS non functional.

Nothing in dmesg.

logcat is full of this kind of Errors:

[code]

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#57_

[2016-05-30 22:39] stucki commented on #57
_From @cmorlok on February 29, 2016 13:6_

I can see those entries in logcat as well, but GPS is working fine for me.

[2016-05-30 22:39] stucki commented on #57
_From @piwats on February 29, 2016 13:51_

Strange, had to disable and reenable the location services. Was asked by Google services for permission of their location services. Now I have all the signals back. Strange, but working.

[2016-05-30 22:39] stucki opened #58 "Videos are played slower than normal"
_From @stucki on March 5, 2016 20:1_

When I'm playing a video through the speaker of the phone, the video is played slower than normal. A sequence of 1 minute takes 1:07 to play. You also here a clear difference because the tone pitch of the voices is much lower than normal.

However, when connect to my bluetooth headset and play the same sequence again, then the speed is normal, the problem is g

[2016-05-30 22:39] stucki commented on #58
I should also add that this used to work fine until some weeks ago.

[2016-05-30 22:39] stucki commented on #58
Another user just reported that it works fine with a current version of cm-12.1. So it clearly seems to be an issue with cm-13.0.

[2016-05-30 22:40] #50 closed, assigned to nobody

[2016-05-30 22:41] #53 closed, assigned to nobody

[2016-05-30 22:42] #56 closed, assigned to nobody

[2016-05-30 22:42] #57 closed, assigned to nobody

[2016-05-30 22:43] stucki commented on #58
(Note: copy of the original issue failed. For full history, see piccolo-dev/android_device_bq_piccolo#58)

[2016-05-30 22:43] stucki commented on #58
Thanks. I just tried with the 2016-04-17 build, but the problem still occurs. 30 seconds of video play in 35 seconds on the loudspeaker, but in correct speed via bluetooth...

[2016-05-30 22:44] stucki opened #59 "Battery status and LED "freeze" after loading"
_From @bonanzabike on March 6, 2016 21:8_

After loading the battery overnight and unplugging the cable next morning the status LED still remains shining green and the battery level remains at 100%, even if I use the phone for hours.
The monitoring of the battery level in the battery settings section stopped in the middle of the night, shortly after it reached the 100%.

Rebooting solved the probl

[2016-05-30 22:44] stucki commented on #59
_From @bonanzabike on March 6, 2016 21:11_

oh, I forgot to tell that I was using cm-13.0-20160228 build from https://s.basketbuild.com/devs/eloimuns/bq/piccolo/

[2016-05-30 22:44] stucki commented on #59
_From @Kra1o5 on March 20, 2016 11:23_

Really weird @bonanzabike I will try to reproduce it.

[2016-05-30 22:44] stucki opened #60 "Alarm doesn't work when phone is off"
_From @bladimirsuareznuclear on March 8, 2016 8:24_

This function works well in CM 12.1. I have updated to CM 13, and it is strange that before gapps was installed, alarm with phone off, works perfectly. After that I installed gapps, and it is when alarm with the phone off doesn't work.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#60_

[2016-05-30 22:44] stucki commented on #60
_From @cmorlok on March 8, 2016 10:16_

You have to install gapps _before_ you boot the first time.

[2016-05-30 22:44] stucki commented on #60
_From @bladimirsuareznuclear on March 8, 2016 15:1_

I did it too. Doesnt work.

[2016-05-30 22:44] stucki commented on #60
_From @Kra1o5 on March 14, 2016 20:6_

@eloimuns Can you try it please?

[2016-05-30 22:44] stucki commented on #60
_From @Kra1o5 on March 20, 2016 11:22_

@eloimuns report is working fine in his case.

[2016-05-30 22:44] stucki commented on #60
_From @SIRSteiner on March 29, 2016 17:3_

Also tested and works fine. So maybe if nobody else have this problem and bladimirsuareznuclear also not with the latest build you should close this issue.

[2016-05-30 22:44] stucki commented on #60
_From @Kra1o5 on March 29, 2016 18:36_

@bladimirsuareznuclear, you can report it back with latest build?

Greetings

[2016-05-30 22:44] stucki opened #61 "Clock app is crashing at settings and alarm"
_From @SIRSteiner on March 14, 2016 5:22_

If you click to open settings in the clock app it crashs. Also while alarm is ringing it crashs.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#61_

[2016-05-30 22:44] stucki commented on #61
_From @Kra1o5 on March 14, 2016 7:49_

Hi @SIRSteiner ,

You try to wipe app data?

Greetings

[2016-05-30 22:44] stucki commented on #61
_From @SIRSteiner on March 14, 2016 8:38_

Inside Android clear data? Yes. But not all data in TWRP

[2016-05-30 22:44] stucki commented on #61
_From @SIRSteiner on March 14, 2016 9:9_

Did also a wipe cache but no changes. I have also a M5 with CM13 and the build from last week, there is no problem with clock

[2016-05-30 22:44] stucki commented on #61
_From @eloimuns on March 14, 2016 9:44_

It's a cyanogenmod problem

Will be repaired asap.

[2016-05-30 22:44] stucki commented on #61
_From @Kra1o5 on March 14, 2016 20:4_

Yes, @SIRSteiner you can use: https://play.google.com/store/apps/details?id=com.google.android.deskclock&hl=es

As workaround, we release a new build asap it get fixed.

Greetings

[2016-05-30 22:44] stucki commented on #61
_From @SIRSteiner on March 14, 2016 21:43_

Thank you!

[2016-05-30 22:44] stucki commented on #61
_From @Kra1o5 on March 20, 2016 11:21_

Seems to be fixed upstream: https://github.com/CyanogenMod/android_frameworks_support/commit/9ac291bad6edb745d68aab9baf0465c3323d8e4e & will be fixed in todays build.

[2016-05-30 22:44] stucki commented on #61
_From @SIRSteiner on March 20, 2016 19:59_

While ringing there is now no crash but if you want to open settings clock crashs

[2016-05-30 22:44] stucki commented on #61
_From @Kra1o5 on March 20, 2016 20:0_

Yes, its in the changelog but is upstream bug.

[2016-05-30 22:44] stucki commented on #61
_From @SIRSteiner on March 20, 2016 20:51_

Here is the log maybe that helps more:

03-20 21:47:30.265 E/AndroidRuntime(6198): java.lang.RuntimeException: Unable to resume activity {com.android.deskclock/com.android.deskclock.SettingsActivity}: java.util.IllegalFormatConversionException: %d can't format java.lang.String arguments

[2016-05-30 22:44] stucki commented on #61
_From @SIRSteiner on March 23, 2016 23:13_

I found in the source strings.xml a (plurals) string named "auto_silence_summary" with a variable "%s" but in other languages there is only a single string with "%d".

I did a comment at https://jira.cyanogenmod.org/browse/NIGHTLIES-2671
Maybe this is the problem?

[2016-05-30 22:44] stucki commented on #61
_From @Kra1o5 on March 24, 2016 11:42_

Hi @SIRSteiner ,

Yes, the fix is review in progress here: http://review.cyanogenmod.org/#/c/137803/

So probably get merged soon & will be in next build.

[2016-05-30 22:44] stucki commented on #61
_From @SIRSteiner on March 27, 2016 16:50_

Fixed with the latest build

[2016-05-30 22:44] stucki opened #62 "Custom APN is ignored"
_From @stucki on March 19, 2016 11:3_

I'm trying to use the blau.de Tagesflat. This is a subscription which is activated by using a non-default APN.

After being online for a while, I notice that the APN was not used even though it was displayed like that in settings.

Can anyone confirm the behaviour? It is quite likely that the same problem occurs with other providers, too...

_Copied from orig

[2016-05-30 22:44] stucki commented on #62
_From @Kra1o5 on March 20, 2016 11:18_

Hi @stucki ,

Weird but can be the apn-conf file from cm.

[2016-05-30 22:44] stucki opened #63 "System freezes"
_From @halloalexkern on March 20, 2016 10:1_

i recently updated from **cm-13.0-20160228** to **cm-13.0-20160313**.

Now i have random freezes, where only a forced restart (pressing the 3-buttons) of the phone helps.
I occurs most likely when switching when doing performance-intensive tasks ... switching and editing photos, browsing spotify, browsing, etc.

I'm still on firmware 3.2.2. – might thi

[2016-05-30 22:44] stucki commented on #63
_From @halloalexkern on March 20, 2016 10:8_

And for updating the firmware to 3.2.9:
Can i just comment-out the lines:

[code]

for not loosing my data, etc. (as i can't do a TWRP-Backup to my sdcard, because i formatted my sdcard to „internal“)
or will it break things?

Thanks!

:-) AK

[2016-05-30 22:44] stucki commented on #63
_From @Kra1o5 on March 20, 2016 11:17_

Hi @halloalexkern ,

With this you will relock bootloader.

I make some updates to kernel maybe it helps to this issue.

[2016-05-30 22:44] stucki commented on #63
_From @halloalexkern on March 20, 2016 11:39_

So i'd have to flash the complete 3.2.9-fireware-update ... and the start from scratch with unlocking and flashing to cm-13, right?
(i still emeber that last time, when i bricked my M5 permanetly with the 3.2.2. firmware-update :-( ... luckily i got a free replacement from BQ!)

But do you think i'd be necessary for your cm13 to update to 3.2.9? or sh

[2016-05-30 22:44] stucki commented on #63
_From @Kra1o5 on March 20, 2016 11:41_

Hi @halloalexkern ,

I think you will be fine with 3.2.2 firmware so not need to change firmware.

[2016-05-30 22:44] stucki commented on #63
_From @halloalexkern on March 20, 2016 13:8_

Thanks.

... about the freezes: would a dmesg help? or do you already have an idea what could cause it?

:-) AK

[2016-05-30 22:44] stucki commented on #63
_From @halloalexkern on March 24, 2016 19:6_

i'm pretty sure this issue is gone with 2016/03/2.
I haven't expected any more freezes.

Thanks!!

[2016-05-30 22:44] stucki commented on #63
_From @SIRSteiner on March 29, 2016 16:20_

Should you close this issue?

[2016-05-30 22:44] stucki commented on #63
_From @Kra1o5 on March 29, 2016 18:34_

Hi @SIRSteiner, yes we can reopen if needed.

[2016-05-30 22:44] stucki opened #64 "Problem with vibration CM13"
_From @cristianss98 on March 20, 2016 11:48_

The vibration does not work in this last update, I use a lot because I do not like having the phone in sound.
Thank you. ;-)

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#64_

[2016-05-30 22:44] stucki commented on #64
_From @Kra1o5 on March 20, 2016 11:50_

Hi @cristianss98 ,

Can you try changing the vibration intensity (Settings/Sounds) ?

[2016-05-30 22:44] stucki commented on #64
_From @cristianss98 on March 20, 2016 12:3_

Hi @Kra1o5
I tried to change the settings and also tried with an application to see if vibrated but nothing.

[2016-05-30 22:44] stucki commented on #64
_From @Kra1o5 on March 20, 2016 12:5_

Really weird, because @eloimuns try it & reports working fine.

Can you do a wipe cache/wipe dalvik cache in twrp?

[2016-05-30 22:44] stucki commented on #64
_From @cristianss98 on March 20, 2016 12:17_

I did wipe cache and Dalvik cache in TWRP and still does not work.
The only thing left is wipe data and reinstall the ROM

[2016-05-30 22:44] stucki commented on #64
_From @Kra1o5 on March 20, 2016 12:21_

Wait for todays build to try.

[2016-05-30 22:44] stucki commented on #64
_From @cristianss98 on March 20, 2016 12:28_

Ok,

Thank you very much ;-)

[2016-05-30 22:44] stucki commented on #64
_From @cristianss98 on March 31, 2016 11:21_

I solved the problem, reinstall the latest official firmware BQ and then I install CM13 and next day vibrated again normally.
PS: sorry for my mistranslations.

[2016-05-30 22:44] stucki opened #65 "CM13 camera hdr mode on, makes double photos"
_From @Greatdroid on March 20, 2016 21:48_

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#65_

[2016-05-30 22:44] stucki commented on #65
_From @Kra1o5 on March 20, 2016 22:17_

Yes, we are using hybrid blobs.

[2016-05-30 22:45] stucki commented on #65
_From @Greatdroid on March 20, 2016 22:20_

Ok thanks.

[2016-05-30 22:45] stucki commented on #65
_From @cmorlok on March 21, 2016 14:49_

Confirmed. Seems to be a Snap issues. Other cameras (tested with GoogleCamera and OpenCamera) save pictures only once.

[2016-05-30 22:45] stucki opened #66 "cm13 apollo music player not working properly on car bluetooth"
_From @Greatdroid on March 20, 2016 22:13_

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#66_

[2016-05-30 22:45] stucki commented on #66
_From @Kra1o5 on March 20, 2016 22:15_

You refer to Eleven right?

[2016-05-30 22:45] stucki commented on #66
_From @Greatdroid on March 20, 2016 22:20_

Sorry don't get it. What do you mean by eleven?

[2016-05-30 22:45] stucki commented on #66
_From @Kra1o5 on March 20, 2016 22:21_

CM not using Apollo from CM12.1+, now use Eleven.

[2016-05-30 22:45] stucki commented on #66
_From @Greatdroid on March 20, 2016 22:25_

Sorry didn't know they changed the name, but yes, I mean that one. :-)

[2016-05-30 22:45] stucki opened #67 "Audio on call by bluetooth in car radio"
_From @papachiclas on March 20, 2016 22:36_

I have had problems with the audio on the car radio while on call by bluethooth. Most of the time the sound is very bad, It is impossible to understand what people say

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#67_

[2016-05-30 22:45] stucki opened #68 "exchange kind account has gone"
_From @starvoid on March 21, 2016 9:16_
# I upgraded to cm-13.0-20160313 from 13.0-20160306. My configured exchange account has gone.

When I tried to add a new account, in the step to choose the kind of account, the interface doesn't show exchange type (it shows imap and pop3 options only)

Please, could you check it?

Thanks for great job.

_Copied from original issue: piccolo-dev/android_device

[2016-05-30 22:46] #61 closed, assigned to nobody

[2016-05-30 22:46] #63 closed, assigned to nobody

[2016-05-30 22:46] #64 closed, assigned to nobody

[2016-05-30 22:48] stucki commented on #68
(Note: copy of the original issue failed, issue comments are incomplete. See original issue for more information...)

[2016-05-30 22:48] stucki opened #69 "logcat issues"
_From @andresako on March 23, 2016 8:41_

Hi, before all, thanks for that great Rom.

I'm a programing developer and I need to work a lot with logcat to debug my app's.
After installing cm-13.0-20160313 I had the clock issues, not a big problem,
I update to cm-13.0-20160320 and now my logcat is going crazy, I'll explain that:

First I have random errors with SQLite:

(3 / 5 minutes between)

My se

[2016-05-30 22:49] stucki opened #70 "CM13 file manager doesn't show OTG-Devices"
_From @SIRSteiner on March 28, 2016 17:52_

Maybe a CM issue?

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#70_

[2016-05-30 22:49] stucki commented on #70
_From @Kra1o5 on March 29, 2016 18:37_

Pretty sure yes.

@eloimuns can test it you too?

[2016-05-30 22:49] stucki commented on #70
_From @eloimuns on March 29, 2016 19:4_

Seems to be a CM problem. I just tested with Xiaomi Redmi 1S and Xiaomi mi4 and the same result.

[2016-05-30 22:49] stucki opened #71 "Bluetooth mic volume too low"
_From @mikelgaldakao on March 31, 2016 11:6_

Hi,
When the M5 (CM13 last update) is connected to a intercom using BT, the mic volume is too low. The person in the other side cannot hear me.
I have been making diferent tests with other mobile devices and same intercom. The problem occurs only with my two BQ M5 and this ROM. I can´t confirm if this error occurs with the stock ROM.
Thanks for support

[2016-05-30 22:49] stucki commented on #71
_From @Kra1o5 on April 1, 2016 14:22_

Hi @mikelgaldakao ,

We will check it for next release :)

Greetings

[2016-05-30 22:49] stucki opened #72 "Awesome consuming of ram cm13 (Screensaver)"
_From @andresako on April 1, 2016 6:43_

Since using the screen saver , the ram has skyrocketed.
I'm using the last comp of this rom, I think that's not normal
attached screenshot

Thanks for all :)

![photo_2016-04-01_08-39-40](https://cloud.githubusercontent.com/assets/9285655/14199561/c83fac54-f7e5-11e5-904d-2b3eab7da532.jpg)

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#7

[2016-05-30 22:49] stucki commented on #72
_From @cristianss98 on April 1, 2016 10:8_

could be a mistake, anyway if you get upset or consume everything that says you pobrar to uninstall it if you're root with Link2SD.

[2016-05-30 22:49] stucki commented on #72
_From @andresako on April 1, 2016 10:13_

Yeah,for now I've stopped using that and the ram usage seems to be normal again.
I mention only for creators to take this into account in later builds.

[2016-05-30 22:49] stucki commented on #72
_From @Kra1o5 on April 1, 2016 14:23_

Hi @andresako ,

I will check it but probably upstream bug.

Greetings

[2016-05-30 22:50] stucki opened #73 "Touchscreen errors"
_From @alo2o on April 4, 2016 17:8_

When in lockscreen, the phone wont respond properly, and when you finally unlock the phone, some lockscreen overlay appears and it wont disappear until you tap the screen, thus making it a little annoying
Thanks!

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#73_

[2016-05-30 22:50] stucki commented on #73
_From @1tft on April 4, 2016 17:19_

I also recognized this "overlay" in 2016/04/03 build. Sometimes I see a very little phone icon on the left buttom area, too. At afternoon I was faced with a total freeze of the phone during navigation with G-Maps (I had to press the power button over 10minutes to initiate a reboot). Than I downgraded to 2016/03/27.

[2016-05-30 22:50] stucki commented on #73
_From @alo2o on April 4, 2016 17:27_

I'm installing xposed, I'll see  if it's still appearing

[2016-05-30 22:50] stucki commented on #73
_From @Kra1o5 on April 4, 2016 17:54_

Hi,

Is upstream issue not device specific and yeah is really annoying.

Greetings

[2016-05-30 22:50] stucki commented on #73
_From @alo2o on April 4, 2016 21:24_

Seems like it auto fixed, i didnt see it anymore

[2016-05-30 22:50] stucki commented on #73
_From @Kra1o5 on April 17, 2016 8:40_

Fixed upstream: https://github.com/CyanogenMod/android_frameworks_base/commit/16a065df515225bf4da78df7ccea63ca860b2b20

Greetings

[2016-05-30 22:50] #73 closed, assigned to nobody

[2016-05-30 22:50] stucki opened #74 "both SIMs switch to roaming when only one of them should"
_From @stefanocostantini on April 6, 2016 18:17_

I have Spanish (Tuenti) and UK SIMs as i travel between these two countries. When both SIMs are inserted, the Spanish SIM switches to 2G Roaming (it should be LTE on the Movistar network). As a result I lose data connection, because the SIM setting is for data roaming turned off. However, turning it on does not restore the data connection, as the p

[2016-05-30 22:50] stucki commented on #74
_From @Kra1o5 on April 23, 2016 9:0_

Yes, probably CM get the feature back soon.

Greetings

[2016-05-30 22:50] stucki opened #75 "OpenGL ES 1 (GLES1) performance is bad"
_From @sergiopoverony on April 12, 2016 9:48_

Gles1 game more lags for example XASH3D  - maybe proprietary drivers adreno

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#75_

[2016-05-30 22:50] stucki commented on #75
No idea what you're talking about. Please be more specific.

[2016-05-30 22:50] stucki commented on #75
_From @sergiopoverony on April 12, 2016 9:57_

I install old game. Game use only Gles1. Xash3D game name - this is HalfLife 1 launcher https://github.com/SDLash3D/xash3d. My old device mtk6579 PowerVR 540 - show fps 90!!! this is device 17-23fps. On CM13 - not start - close app after run.
I check all version  firmware - official 5.0 5.1 cm12 cm13

[2016-05-30 22:50] stucki commented on #75
_From @sergiopoverony on April 12, 2016 10:39_

This is more specific?

[2016-05-30 22:50] stucki commented on #75
_From @cmorlok on April 12, 2016 11:18_

Gles1 is fully working, verified using
https://play.google.com/store/apps/details?id=yz.opengl.es11

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 12, 2016 12:11_

Yep. Worked and low fps. This very simple test. In game use more faces and texture.

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 12, 2016 12:23_

My OLD device - this is minimal FPS  - max FPS over 75-80
![screenshot_2016-04-12-17-20-18](https://cloud.githubusercontent.com/assets/5286127/14459772/51918784-00d3-11e6-9765-a309ae6c19e4.jpg)

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 12, 2016 12:25_

This is NEW bq M5 this device
![screenshot_2016-04-12-17-15-30](https://cloud.githubusercontent.com/assets/5286127/14459793/79daab26-00d3-11e6-87f8-3e9d40cf5a26.jpg)

[2016-05-30 22:51] stucki commented on #75
_From @cmorlok on April 12, 2016 13:6_

It would be helpful if you'd tell us the name of your old device.

I just did some benchmarks. For OpenGL 2 and 3, we have the same
performance like any other phone with this chipset.

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 12, 2016 14:38_

All my old devices china tablet and phone. TabletPC - Pipo M8Pro RK3188 MALI MP4 (fps >50) and Phone - JayYou  G3S MTK5989T PowerVR 450(i dont know) fps >50/ My Wife use Samsung Galsaxy A3 (2015) FPS >55
I know Gles2 and  3 - Real good work. Gles1 - is bad working/ This Game use ./system/lib/libGLESv1_CM.so - maybe him bad work?  May be him MustDie u

[2016-05-30 22:51] stucki commented on #75
_From @cmorlok on April 13, 2016 7:10_

I will take a look. Maybe the so files do not fit together.

Can you please run some benchmarks in https://play.google.com/store/apps/details?id=yz.opengl.es11 (some tests where it shows the FPS) on one of your other phones? I need some reference values, but I haven't found any recent GLES1 benchmark.

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 13, 2016 14:32_

Oh. I check on all my devices. No different fps in test.

[2016-05-30 22:51] stucki commented on #75
_From @eloimuns on April 14, 2016 11:39_

Did you test it when device is plugged in? Maybe the problem is here.

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 14, 2016 12:0_

[2016-05-30 22:51] stucki commented on #75
_From @eloimuns on April 14, 2016 12:3_

you can try while not charging ?

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 14, 2016 12:5_

I test all witchout usb connections, charging and etc - i write about it in up message ^

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 14, 2016 12:41_

##### Men. After change screen resolution (https://play.google.com/store/apps/details?id=com.nexter.miniscaler) I change Width to 540px and Height to 960. DPI change to 248. FPS in game - 40-60 ROFL.

Gles1 driver not work under FHD screen resolution? WTF (sorry)
 Crazy crutch

### This Big problem!

[2016-05-30 22:51] stucki commented on #75
_From @Kra1o5 on April 14, 2016 20:43_

Hi,

Can you try changing dpi in Settings/Screen & report the results?

I recommend to use standard dpi values.

Greetings

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 15, 2016 2:53_

Hi.
1. I change only DPI - no effct.
2. I change resolution - good work.
3. I change resolution and DPI - good work.

This is badwork GLES1 under hight screen resolution (default 1920*1080)

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 21, 2016 19:18_

helloooo

[2016-05-30 22:51] stucki commented on #75
_From @Kra1o5 on April 21, 2016 19:25_

Hi,

We are using latest adreno gpu blobs from MM.

So at the moment we cant do much more.

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 21, 2016 19:28_

sad and melancholy

[2016-05-30 22:51] stucki commented on #75
_From @Kra1o5 on April 21, 2016 19:30_

Dont worry we will see if we can improve it.

[2016-05-30 22:51] stucki commented on #75
_From @cmorlok on April 22, 2016 5:4_

Is there any Gles1 benchmark available which we can use for testing?

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on April 22, 2016 6:55_

Yes, Of course. We make standalone apk file for test. I drop referal link here for download and test

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on May 1, 2016 16:25_

HI all. we make special for you Uplink HalfLIfe apk https://goo.gl/QyuuhP (~40mb)
On all devices FPS - 60-80
Aquaris M5 -25-30
Welcome for test and  great fix for your
You can play NewGame or Hazard Course
Sorry my English i from Russia

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on May 3, 2016 7:34_

What news?)

[2016-05-30 22:51] stucki commented on #75
_From @Kra1o5 on May 3, 2016 20:49_

Sorry, Im busy at the moment so not checked yet.

Greetings

[2016-05-30 22:51] stucki commented on #75
_From @insestito on May 4, 2016 12:25_

on xda you have an post for improve a lot all graphics of all android devices

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on May 4, 2016 12:29_

We test on more devices. After it i write message here. If you want - you can made post on XDA.

[2016-05-30 22:51] stucki commented on #75
_From @insestito on May 4, 2016 13:16_

en xda hay un post dedicado a un "mod" para mejorar los drivers de los graficos o algo asi

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on May 5, 2016 10:58_

I dont understand you english. i use google translate/ give me link on XDA tree )

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on May 30, 2016 9:52_

HELLO MEN AGAIN. Sorry caps )))
Now after official update (in official FW - android 6) Gles1 work is FINE.
Next Question - how long wait for CM13 this fixes?

[2016-05-30 22:51] stucki commented on #75
_From @eloimuns on May 30, 2016 9:55_

Yesterday build have this fixes but have a data issue..

 wait for today build ;)

[2016-05-30 22:51] stucki commented on #75
_From @sergiopoverony on May 30, 2016 9:56_

Good news. Thn you

[2016-05-30 23:12] stucki opened #76 "NoData-SIM no signal when there is 2G or 2,5G and it is configured as 2G"
_From @Mutilo on April 13, 2016 6:46_

I have two SIM (Spain), one of Mundo-R with data, and other of Movistar without data:
- If I put the R SIM in slot 1, the Movistar not covered.
- If I do the reverse, I put the Movistar in slot 1, both are covered, but Movistar loses and not recovered.

As Movistar has no data I have to put the 2G (and R 3G or LTE), but when there are bad signs, it lost and n

[2016-05-30 23:12] stucki commented on #76
_From @cmorlok on April 13, 2016 7:17_

You don't have a choice. Only one SIM can be in 3G/LTE mode, the other one has to be in 2G mode.

Regarding the connection loss: I experience this as well. I had the same problem on stock, so I'm not sure if it's a software or a hardware issue. Interestingly, you can't get the connection back with manual network selection, even if the search finds the networ

[2016-05-30 23:12] stucki commented on #76
_From @Mutilo on April 13, 2016 9:57_

Indeed. One SIM in 3G/LTE mode, and the other one in 2G mode.

But when the SIM 2G loses the connection because there are bad/low/no coverage, no recovers it. There are many people who are using two SIM's on stock and doesn't have this issue.

I need to use two SIM, is there any way to fix this problem or I have flash another ROM?

[2016-05-30 23:12] stucki commented on #76
_From @cmorlok on April 13, 2016 10:12_

From time to time I flash the latest stock for some comparisons. I always had exactly the same bad behavior on stock with the SIM in 2G mode. And there are some posts where people are describing similar issues on stock, e.g. http://www.android-hilfe.de/thema/wie-ist-eure-empfangsqualitaet-beim-bq-m5.732693/.

[2016-05-30 23:12] stucki commented on #76
_From @Mutilo on April 13, 2016 10:39_

In this post (http://www.htcmania.com/showpost.php?p=22467455&postcount=912) they said it worked well, so I reported the bug

[2016-05-30 23:12] stucki commented on #76
_From @cmorlok on April 13, 2016 10:42_

Doesn't your linked post say that dual SIM is working with CM13?

[2016-05-30 23:12] stucki commented on #76
_From @Mutilo on April 13, 2016 16:36_

`Buenas, si funciona el dual SIM en CM13, yo lo tengo y funciona perfectamente (mensajes, llamadas...)`

I understand that he would work correctly...

[2016-05-30 23:12] stucki commented on #76
_From @Mutilo on April 17, 2016 20:43_

Sorry. I think I was wrong. In fact, coverage is restored when it lose the signal.
The issue is that when I set "NOData-SIM" as 2G and there is little/poor coverage (e.g. in the "Data-SIM" shows G or E), NoData-SIM has no coverage (0%)
But, in the same place, if I set NoData-SIM as 3G, it has coverage to make and receive calls.

[2016-05-30 23:12] stucki commented on #76
_From @Kra1o5 on April 23, 2016 8:54_

We need to check this, thanks for the report.

[2016-05-30 23:12] stucki commented on #76
_From @cmorlok on April 23, 2016 8:59_

Can you ask bq's support team if they know this issue? On my phone, I see this on all ROMs (stock, CM12.1, CM13). It seems to be either a hardware issue, or there is a problem with the blobs.

[2016-05-30 23:12] stucki commented on #76
_From @Mutilo on April 23, 2016 11:45_

As I use CM13, bq's support can't help me.
This only happens when I set the NoData-SIM as GSM/2G, coverage's bar is worse or null than if I set as 3G/LTE in the same place

[2016-05-30 23:12] stucki commented on #76
_From @cmorlok on April 23, 2016 13:10_

Sorry, I replied to @Kra1o5. Can you look if this is a known issue?

@Mutilo: of course the coverage is better when you set the SIM to LTE. Then the phone decides depending on the signal strength whether it connects to 4G, 3G or 2G. When set to 2G it can't connect to 3G or 4G.

[2016-05-30 23:12] stucki commented on #76
_From @Mutilo on April 23, 2016 16:57_

And could set a ROM's configuration to set both SIM to 3G and set only one to "Mobile data"

[2016-05-30 23:12] stucki commented on #76
_From @cmorlok on April 23, 2016 17:18_

No, it's a hardware restriction.

[2016-05-30 23:12] stucki commented on #76
_From @Kra1o5 on April 23, 2016 17:20_

Yes, hardware limitation.
One of the slot need to be in 2G only.

[2016-05-30 23:12] stucki commented on #76
_From @cmorlok on April 29, 2016 20:9_

It think we have a general issue with the connection quality. At the moment my first SIM is on roaming. The second SIM is a local one. I don't get any signal on both SIMs. Even a manual network search doesn't return any result. My old Moto G2 has full signal on both SIMs.

[2016-05-30 23:12] stucki commented on #76
_From @Kra1o5 on April 29, 2016 20:15_

Hi,

Well, we are using LP firmware, blobs & hybrid kernel.

So when official Marshmallow update comes out.

We will fix the big part of actual issues.

Greetings

[2016-05-30 23:12] stucki commented on #76
_From @stefanocostantini on May 4, 2016 19:7_

I have to say that this seems to be getting worse. It wasn't an issue on earlier builds but now I'm struggling to get any coverage unless it's very strong. Any suggestions?

[2016-05-30 23:12] stucki commented on #76
_From @Kra1o5 on May 4, 2016 19:24_

Sorry, Im using X5 at the moment with 3G.

I will test it asap but not changes from our side so maybe upstream...

Greetings

[2016-05-30 23:12] stucki commented on #76
_From @stefanocostantini on May 4, 2016 19:51_

Yes, fingers crossed!

[2016-05-31 04:48] DerSaxxe opened #77 "Restart into recovery doesn't work"
If you want to restart into recovery with restart menu the device reboots into CM.

[2016-05-31 06:14] stucki opened #78 "CM13 L2TP/IPSec PSK not working with Draytek Router"
_From @e-alfred on April 19, 2016 19:32_

Running the latest CM 13.0 release, a VPN connection with L2TP/IPSec PSK does not work. The same VPN runs fine with the older CM 12.1 release. Here is the log I got so far:

[code]

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#77_

[2016-05-31 06:14] stucki commented on #78
_From @Kra1o5 on April 23, 2016 8:56_

Thanks for the log, I will check that asap but seems is a SELinux denial, can you try with SELinux in permissive?

[2016-05-31 06:14] stucki commented on #78
_From @e-alfred on April 25, 2016 11:13_

No, it still doesn't work. I set "setenforce 0" in a terminal directly on the phone with root rights, "SELinux-status" says "moderate", but the connection still does not work.

[2016-05-31 06:14] stucki commented on #78
_From @e-alfred on May 3, 2016 7:39_

I tried the last releases and with none of them it worked. The router is definitely not an issue, because other Android phones with different (stock) versions from 4.2-5.1 work flawlessly.

[2016-05-31 06:14] stucki commented on #78
_From @cmorlok on May 3, 2016 7:46_

If I remember correctly Google (or CM?) replaced the VPN stack in M. It might be that your VPN is no longer supported and you'll have to switch to a third-party app. I have similar problems with my own router and OpenVPN. Could you send us a copy of your VPN config (of course without any secrets included)?

[2016-05-31 06:14] stucki commented on #78
_From @e-alfred on May 3, 2016 8:10_

Well, L2TP/IPSEC PSK is still there in the VPN settings, the options are still there as well. I also tried the Draytek SSL VPN app and it does not work either on CM13.

Here is the upstream bug, not fixed by Google after almost half a year:

https://code.google.com/p/android/issues/detail?id=196939

[2016-05-31 06:14] stucki opened #79 "SystemUI crashes in UI Tuner (aka Edit Tiles)"
_From @thegeeex on April 22, 2016 11:20_

Hey,

I flashed last update (17th April), GApps (Pico, 21st April) and XPosed (v82, no GravityBox)
When I click "Edit Tiles" > "(+)" > Scroll the list, SystemUI crashes
![screenshot_20160422-131250 1](https://cloud.githubusercontent.com/assets/6824634/14740057/41387fda-088c-11e6-95be-b244b809a315.png)

The bug wasn't present in v20160320

Thank you in adva

[2016-05-31 06:14] stucki commented on #79
_From @thegeeex on April 22, 2016 12:55_

Bug solved by factory reset.

(Probably caused by restoring data from old version)

Sorry for the inconvenience.

EDIT:

Did nothing, crashes again

No need to scroll to make it crash, simply press (+)

EDIT2:

The bug is present on v10/4, but less frequent.
(Only crashes when deleting tiles, but it still deletes so not a problem)

[2016-05-31 06:14] stucki commented on #79
_From @ixti on April 22, 2016 16:55_

Having same issue. Fails for me every time I scroll at some point (after exact element).

![screencast](https://cloud.githubusercontent.com/assets/94782/14748731/b9508858-08bb-11e6-8a3d-c3918d16f089.gif)

Constantly fails for me after "Invert colors" element

[2016-05-31 06:14] stucki commented on #79
_From @thegeeex on April 22, 2016 17:4_

The problematic element might be the next one, "Lock Screen" in stock version
(icon load fails?)

[2016-05-31 06:14] stucki commented on #79
_From @Kra1o5 on April 23, 2016 8:53_

Yes, is upstream issue.

It will be fixed in next build.

Greetings

[2016-05-31 06:14] stucki commented on #79
_From @ixti on April 23, 2016 12:49_

Awesome! @Kra1o5 thanks!

[2016-05-31 06:14] stucki commented on #79
_From @ixti on April 30, 2016 18:5_

After upgrade to 20160424 all works perfectly fine! Thanks!

[2016-05-31 06:14] stucki commented on #79
_From @eloimuns on May 2, 2016 6:47_

Perfect,

We will close this issue

[2016-05-31 06:14] stucki opened #80 "Can't record calls"
_From @Mutilo on April 24, 2016 20:17_

Hi.

Stock ROM can record calls with any app. Why CM13 can't record?

Is there any way or app to automatic record?

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#79_

[2016-05-31 06:15] stucki commented on #80
_From @Kra1o5 on April 24, 2016 20:18_

Hi,

You can make it from dialer in actual call.

If you are in whitelist country.

[2016-05-31 06:15] stucki commented on #80
_From @Mutilo on April 24, 2016 20:20_

But to automatically record?

[2016-05-31 06:15] stucki commented on #80
_From @Kra1o5 on April 24, 2016 20:24_

Probably not.

[2016-05-31 06:15] stucki commented on #80
_From @Mutilo on April 24, 2016 20:27_

And could add a patch to the ROM?

[2016-05-31 06:15] stucki commented on #80
_From @Kra1o5 on April 24, 2016 20:31_

We want to have the ROM as close as original source.

[2016-05-31 06:15] stucki commented on #80
_From @Mutilo on April 24, 2016 20:56_

Ok. Thank you

[2016-05-31 06:15] stucki opened #81 "Battery"
_From @alo2o on May 1, 2016 12:58_

Since the first release of this rom, there has been a major issue for me, the battery flies, it drains very quickly, is there any solution to this? Will it correct over time? Thanks

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#80_

[2016-05-31 06:15] stucki opened #82 "overlay: Update Telecomm service config"
_From @andy-de on May 2, 2016 6:33_

Add Resource "config_speed_up_audio_on_mt_calls" instead of overlaying the value, because it appears not in the base package.

_Copied from original issue: piccolo-dev/android_device_bq_piccolo/pull/81_

[2016-05-31 06:15] stucki commented on #82
_From @Kra1o5 on May 2, 2016 8:50_

Hi @andy-de ,

Thanks for the pull requests, can you change message of commit to "overlay: Update Telecomm service config" ?

I will merge it after make this change.

Greetings

[2016-05-31 06:15] stucki commented on #82
_From @andy-de on May 2, 2016 17:37_

Is it fine now? Sorry, was my first commit. :)

[2016-05-31 06:15] stucki commented on #82
_From @Kra1o5 on May 2, 2016 17:40_

Yes, thanks! :)

Greetings

[2016-05-31 06:15] stucki commented on #82
_From @andy-de on May 2, 2016 17:45_

Perfect. :)

[2016-05-31 06:15] stucki opened #83 "overlay: Update Telecomm service config"
_From @andy-de on May 8, 2016 17:51_

Revert audio speedup on mt call patches from qcom

AOSP has their own implementation now in 5.1.1_r37

See: https://review.cyanogenmod.org/#/c/139451

_Copied from original issue: piccolo-dev/android_device_bq_piccolo/pull/82_

[2016-05-31 06:15] stucki commented on #83
_From @Kra1o5 on May 15, 2016 16:38_

Hi @andy-de ,

What commit want you to merge?

[2016-05-31 06:15] stucki commented on #83
_From @andy-de on May 15, 2016 18:35_

This one: https://github.com/piccolo-dev/android_device_bq_piccolo/pull/82/commits/8e165c7603ca377e1f90f34730b07a1454e696f9

I have no idea, why the commit "Update OTA Url" is in this PR. (It was a commit I made after I had opened the pull request)

[2016-05-31 06:15] stucki commented on #83
_From @Kra1o5 on May 16, 2016 11:12_

Hi @andy-de ,
Dont worry, merged here: https://github.com/piccolo-dev/android_device_bq_piccolo/commit/7b9352ce4c1bd6c44b0528358f92cf33fe29e418

Greetings

[2016-05-31 06:15] stucki opened #84 "No weather source selected Cclock widget"
_From @andresako on May 10, 2016 11:8_

Since last update (Monday 9), my cclock widget doesn't find a weather source.
Previously, I haven´t any weather program and work perfectly.

I try to install "weather underground" cuz its compatible with CM13, and still without find a weather source :(

![image](https://cloud.githubusercontent.com/assets/9285655/15144526/355ec07a-16b0-11e6-8279-f285ad3f7e3b.

[2016-05-31 06:15] stucki commented on #84
This is not a bug. Just install the Yahoo weather provider:
https://play.google.com/store/apps/details?id=org.cyanogenmod.yahooweatherprovider

[2016-05-31 06:15] stucki opened #85 "Camera problem"
_From @CarreyCC on May 24, 2016 7:32_

When opening the camera from the lock screen, to put it in landscape mode, the image is displaced and only the top part is visible.
Hopefully soon be resolved because continually use this option.
Thank you and congratulations for your work

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#84_

[2016-05-31 06:15] stucki opened #86 "CM13 wrong autoupdate notification"
_From @danny9484 on May 25, 2016 12:0_

I have set the check for update feature in the settings app to every day and it gives me a notification that a new update is available even though there isn't. If I go to the settings and check for updates manually it tells that none are available but on the notification I can press download and it install the same version again.

_Copied from original issue

[2016-05-31 06:16] #79 closed, assigned to nobody

[2016-05-31 06:16] #82 closed, assigned to nobody

[2016-05-31 06:17] #83 closed, assigned to nobody

[2016-05-31 06:17] #84 closed, assigned to nobody

[2016-05-31 06:18] stucki commented on #86
I can confirm this. Happens to me every day :)

[2016-05-31 06:18] stucki opened #87 "Radio FM"
_From @angelhp on September 13, 2015 1:4_

_Copied from original issue: piccolo-dev/android_device_bq_piccolo#1_

[2016-05-31 06:18] stucki commented on #87
_From @Kra1o5 on September 13, 2015 1:29_

Camera FM?

What is this?

[2016-05-31 06:18] stucki commented on #87
_From @angelhp on September 14, 2015 7:24_

Sorry , radio fm not found

[2016-05-31 06:18] stucki commented on #87
_From @angelhp on September 14, 2015 7:26_

The batery not arrive to 100%
Is in 96%

[2016-05-31 06:18] stucki commented on #87
_From @Kra1o5 on September 14, 2015 7:59_

Not found or not working correctly?

If is the second, is a know issue.

For battery is really weird I get 100% without problems.

[2016-05-31 06:18] stucki commented on #87
Hey @angelhp! Please create 1 ticket per issue. This one is about Camera FM. The status is, it works for 3 seconds only. I had in mind that @Kra1o5 already fixed this but it still seems to exist.

[2016-05-31 06:18] stucki commented on #87
_From @Kra1o5 on September 14, 2015 8:25_

Yes @stucki .

But really is Radio FM not Camera is a typo error.

We have located the error on audio HAL & we are looking one method to fix it.

[2016-05-31 06:18] stucki commented on #87
Right. Can you fix the title of this ticket?

[2016-05-31 06:18] stucki commented on #87
_From @Kra1o5 on September 14, 2015 8:48_

@stucki Fixed!

[2016-05-31 06:19] stucki commented on #87
_From @SIRSteiner on September 18, 2015 20:21_

Hello! FM-Radio doesn't crash but there is no output. Recording works. Thanks!

[2016-05-31 06:19] stucki commented on #87
_From @Kra1o5 on September 18, 2015 20:22_

Yes, we have located the problem (audio HAL).

But not fixed yet.

[2016-05-31 06:19] stucki commented on #87
_From @andy-de on September 27, 2015 15:42_

Spirit 2 works fine. Only switching output from headphone to internal speaker does not work. Maybe it helps solving this issues.

[2016-05-31 06:19] stucki commented on #87
_From @Kra1o5 on September 28, 2015 11:7_

Hi @andy-de ,

We have the issue located but thanks for the tip, people can use Spirit 2 as temporal workaround.

Greetings

[2016-05-31 06:19] stucki commented on #87
_From @Kra1o5 on October 31, 2015 22:37_

By request of @stucki ,

More info about the issue.

Is located in audio.primary.msm8916.so (/system/lib/hw/).

It seems like stock lib make something on it to avoid cut audio on kernel suspend.

We have two options.

Fix it on kernel (sounds part) or try to fix it on audio HAL part (audio.primary.msm8916.so).

[2016-05-31 06:19] stucki commented on #87
_From @starvoid on December 14, 2015 9:31_

Hi, the fix for this issue....

could be get from this kernel?

https://github.com/CyanogenMod/android_kernel_bq_msm8916

I'm not sure, but I guess that is for aquaris X5.

The last change was 3 days ago. It seems an active develop

Thanks for your effort.

[2016-05-31 06:19] stucki commented on #87
_From @piwats on December 28, 2015 22:31_

Does the FM Radio app from the bq firmware run on cm?

[2016-05-31 06:19] stucki commented on #87
_From @Kra1o5 on December 28, 2015 22:36_

The problem is on audio HAL.

[2016-05-31 06:19] stucki commented on #87
_From @piwats on December 28, 2015 23:20_

Please excuse me, if I'm getting annoying.

I was looking the reference cynogenmod msm8939 device description files and noticed that they have a slightly different uevent.qcom.d file, where you can find the following line:

https://github.com/CyanogenMod/android_device_cyanogen_msm8939-common/blob/72c919fe35521ae0b907c1eb755ddd7c17c4e021/rootdir/etc/ueven

[2016-05-31 06:19] stucki commented on #87
_From @piwats on December 31, 2015 3:7_

Looking at the repo for the Xiami ferrari (msm8939) - it seems they have a working fm radio -, I noticed the following:

There is a

[code]

Look here: https://github.com/dh-harald/android_device_xiaomi_ferrari/blob/cm-12.1/rootdir/etc/init.qcom.fm.sh

which makes use of the following files/blobs/binaries included also in the original bq firmware (init.qcom

[2016-05-31 06:19] stucki commented on #87
_From @piwats on January 20, 2016 23:13_

Seems to work in CM-13 (cm-13-20160120) :+1:

[2016-05-31 07:38] danny9484 commented on #77
the same happens for CM updates. it just reboots into CM
you have to install updates manually via twrp from /sdcard/cmupdater

[2016-05-31 08:16] stucki commented on #87
Issue seems to be fixed in cm-13.0, therefore I'm closing this issue.

[2016-05-31 08:16] #87 closed, assigned to nobody

[2016-05-31 08:16] stucki commented on #26
Does this issue still exist in cm-13.0?

[2016-05-31 08:17] stucki commented on #24
I assume this is fine now. Otherwise, please reopen.

[2016-05-31 08:17] #24 closed, assigned to nobody

[2016-05-31 08:17] stucki commented on #17
I assume this is fine in cm-13.0 now. Otherwise, please reopen.

[2016-05-31 08:17] #17 closed, assigned to nobody

[2016-05-31 08:18] stucki commented on #8
I assume this is fine in cm-13.0 now. Otherwise, please reopen.

[2016-05-31 08:18] #8 closed, assigned to nobody

[2016-05-31 08:32] andy-de commented on #26
Seems, it still exist ins Source in CM12.1:https://github.com/CyanogenMod/android_packages_apps_DeskClock/blob/cm-12.1/src/com/android/deskclock/AlarmClockFragment.java
But in CM13.0 it seems, there is no such filter: https://github.com/CyanogenMod/android_packages_apps_DeskClock/blob/cm-13.0/src/com/android/deskclock/AlarmClockFragment.java

[2016-05-31 08:50] stucki commented on #26
In any case it would be an upstream issue, so it should be reported at https://jira.cyanogenmod.org/ instead. Closing here.

[2016-05-31 08:50] #26 closed, assigned to nobody

[2016-05-31 16:22] Greatdroid opened #88 "CM13 Eleven Music player doesn't change music tracks through car bluetooth device"
Other music players like google play music does work.

[2016-05-31 16:23] Greatdroid opened #89 "CM13 Eleven Music player doesn't change music tracks through car bluetooth device"

[2016-05-31 16:23] #89 closed, assigned to nobody

[2016-05-31 16:24] Greatdroid commented on #88
Other music players like Google play music does works.

[2016-05-31 16:28] Greatdroid commented on #65
The problem Still persists in last CM 13 RC

[2016-05-31 16:34] Greatdroid opened #90 "Autobrightness does not work while in the dark"
When you switch on the screen while in the dark, and then move the brightness bar, it doesn't work until you switch the light on.

[2016-06-01 04:50] DerSaxxe commented on #85
Here the camera app is crashing while starting from lock screen in landscape mode.
[tmp_16732-2016-06-01-06-45-30-1574994631.txt](https://github.com/bq-dev/android_device_bq_piccolo/files/292667/tmp_16732-2016-06-01-06-45-30-1574994631.txt)

[2016-06-01 04:56] DerSaxxe commented on #77
With the latest build and the new bootloader this problem is gone here.

[2016-06-01 05:47] CarreyCC commented on #85
When this will resolve, please?
I have installed 31 may version and still the issue.
Thanks a lot

[2016-06-01 07:36] sergiopoverony opened #91 "GAPPS trouble"
# **hello again.**

Step Install CM13 - run device - ALL OK
reset data/chache and etc
reboot to TRWP - install GAPPS (any pack from opengaaps)
 run device - error gapps wizard and etc.

Step Install CM13 - run device - ALL OK
 reboot to TRWP - install GAPPS (any pack from opengaaps)
reset data/chache and etc
 run device - error gapps wizard and etc.

Step Install CM13 - run device - ALL OK
reset d

[2016-06-01 07:47] eloimuns commented on #91
Try with this:

https://www.androidfilehost.com/?fid=24533103863142104

[2016-06-01 07:47] #91 closed, assigned to nobody

[2016-06-01 08:18] sergiopoverony commented on #91
Thank you

[2016-06-01 08:50] danny9484 commented on #77
nope, choosing recovery in the restart menu doesn't work here with latest CM. But the update worked.

[2016-06-01 08:58] danny9484 opened #92 "process freezes"
with the CM version 20160530 I had some freezes with chrome. But today it froze my statusbar and time. My alarm clock didn't work too.
some screenshots:
https://www.dropbox.com/s/xdxt5kewh5m1jo0/Screenshot_20160601-070648.png?dl=0
https://www.dropbox.com/s/p84qk82dlmqz78w/Screenshot_20160601-070659.png?dl=0

after reboot

https://www.dropbox.com/s/xv226oeokrzeqjy/Screenshot_20160601-070937.png?dl=

[2016-06-01 10:46] stucki commented on #77
I can confirm that the problem is gone with the latest build.

[2016-06-01 10:46] #77 closed, assigned to nobody

[2016-06-01 10:47] stucki commented on #92
Had several issues with 2016-05-30 too. Please try again with 2016-05-31. It should be fine now.

[2016-06-01 10:49] stucki commented on #88
This sounds like an upstream issue. I suggest that you check at https://jira.cyanogenmod.org/ if the problem is already known. Please close here if the issue is reported there.

[2016-06-01 10:52] stucki commented on #91
I usually have no issues with OpenGapps. If you have a problem just try with the build from the day before or so. For the Aquaris M5 I recommend to use Nano / x86 / 6.0.

[2016-06-01 11:11] sergiopoverony commented on #91
i install from here https://www.androidfilehost.com/?fid=24533103863142104
is that the system ceases to be writable. It is necessary to sew through fastboot
You can then put the GAPPS and SU(beta)

[2016-06-01 14:16] danny9484 commented on #92
yeah no issues so far with the new CM version.

[2016-06-01 14:16] #92 closed, assigned to nobody

[2016-06-01 16:39] stucki commented on #91
Sorry, but I don't understand what you mean. Nevermind, the problem seems solved.

[2016-06-06 07:28] Mutilo commented on #76
When I insert two SIM cards (Slot 1: Movistar, 3G / LTE + Slot 2: R, 2G), Movistar SIM loses all coverage. If I remove the Slot 2 SIM, the Movistar SIM works correctly

[2016-06-06 07:58] sergiopoverony opened #93 "CM13 - SD card and Write problem"
For edit text file on my sdcard, me need root.
I switch On root in settings.
Now 1-st save - work ok. after edit again - save document not work need reboot device
(i use Default File Manager, EsExplorer, RootBrowser and ETC.)

[2016-06-06 08:02] sergiopoverony opened #94 "CM13 Power Sheduller and Alarm clock"
1 - I switch on Alarm clock on any time and power off device. In my any time - device SwitchOn and no aralm sound (i see missed Alarm)

2- I switch on Alarm clock on any time and power off device + connect charger. in my any time - device not PowerON.

[2016-06-07 06:32] Mutilo commented on #76
It can close this issue. The problem isn't CM13 or M5.

In some places I haven't Movistar 2G coverage, so it hasn't sign, however I have Movistar 3G coverage. It is problem of mobile network operator

[2016-06-07 07:13] Mutilo opened #95 "Movistar SIM whitouth Data no find 3G/4G networks [RC, 31-05-2016, Firmware 6.0]"
I have build RC, 31-05-2016 (firmware 6.0, @eloimuns) with two SIM (Spain), one of Mundo-R with data, and other of Movistar without data, only voice. In "SIM preferred to > Mobile Data" I put the R SIM.

As in some places I have not Movistar 2G coverage, in "Preferred network type" I have to put this SIM as 3G/LTE, because it's more important that this SIM have coverage. The R SIM I put in 2G, it

[2016-06-08 05:54] StarGW-net opened #96 "SIM1 cannot select 2G; SIM2 cannot use 3G"
I have tested cm-13.0-20160531-UNOFFICIAL-piccolo.zip and most things seem to be working well. Excellent work.

But I am having sokme issues with dual SIM:

1) There is no way to individually disable SIMs. (i.e. disable SIM1 completely)
2) It does not seem to be possible to set SIM1 to 2G. (It discovers 3G and 2G networks)
3) Even if you try to set SIM2 to 3G it will only discover 2G networks

In

[2016-06-08 08:58] stucki commented on #96
~~I can confirm this. Happens with the 20160531 ROM, didn't happen before that (using the old piccolo-dev repositories).~~
Just tried again today with a current build (compiled locally). In fact it seems like switching from SIM 1 to SIM 2 and back works as good as before the refactoring.
Besides this, I notice that I can set the mode to LTE for both SIM cards and the system automatically chooses L

[2016-06-08 09:24] stucki commented on #35
Just tried this again on a build created 2 days ago (compiled locally). It looks like the problem is gone! Please check as soon as the next release is published... (see also #96)

[2016-06-08 09:25] stucki commented on #95
It could be that there were issues with the 2016-05-31 release (I think I've had the same issues) but it works fine right now with a current build. Please check again as soon as the next release is out. (see also #96).

[2016-06-08 09:26] stucki commented on #58
Problem is gone with current builds. Seems like the refactoring fixed this issue...

[2016-06-08 09:26] #58 closed, assigned to nobody

[2016-06-08 12:07] Mutilo commented on #95
Hi. My problem is similar to # 96, but to me It does seem to be possible to set SIM1 to 2G. Indeed, I can also set the mode to LTE for both SIM cards.

In my case, if I try to set SIM1 to 2G, "SIM preferred to > Mobile Data" set SIM1, and set SIM2 to 3G, SIM2 will only discover 2G networks

If I try to set "SIM preferred to > Mobile Data" SIM2, SIM2 discovers 2G, 3G and 4G networks

[2016-06-09 09:44] starvoid opened #97 "responsiveness"
Hi all, I was using 20160508 version more or less well. Since I moved to 20160531 my device is responsiveness. Some apps (as Clash of clans) are not open at first touch, and even when I achieve to open them, they are not usable by the lack of response.

It seems that this is only happening to me, maybe the responsible is some special app that I have installed. If so, I'd like to know.

Please, if

[2016-06-09 16:46] sergiopoverony commented on #93
Hello Again.
**_PLEASE TEST IT**_
`system/etc/permissions/platform.xml
 add <group gid="media_rw" /> in the following location like so:
<permission name="android.permission.WRITE_EXTERNAL_STORAGE" >
<group gid="sdcard_r" />
<group gid="sdcard_rw" />
<group gid="media_rw" />
</permission>`

[2016-06-09 16:54] Kra1o5 commented on #93
Hi,

We cant do that because is a nasty hack.

Normally, file explorer have the option to do that ( Fxplorer for example).

Greetings

[2016-06-09 16:56] sergiopoverony commented on #93
hi, no, i open txt file on sdcard witch default FSbrowser, edit him.  After 1 min. i edit him again, i want save him. and i see NoSaved - no Root Previl....
Please check it

[2016-06-09 17:01] Kra1o5 commented on #93
Yes, default filemanager is basic & a bit buggy actually.

[2016-06-09 17:02] sergiopoverony commented on #93
Any FS browser  not save changes, what you write Fxplorer

[2016-06-09 17:05] Kra1o5 commented on #93
You try on external sdcard or internal?

[2016-06-09 17:09] sergiopoverony commented on #93
External sdcard after 1st write - only read,. after reboot device - again only 1 write

[2016-06-09 20:44] Kra1o5 commented on #93
Weird, not problem in my device.

You have sdcard formated as internal or portable storage?

[2016-06-10 07:10] sergiopoverony commented on #93
make as portable storage

[2016-06-11 06:44] sergiopoverony commented on #94
Any ideas?

[2016-06-11 08:32] Kra1o5 commented on #94
I will check asap, maybe SELinux issue.

[2016-06-12 09:17] Kra1o5 commented on #93
I test it, no problems detected @eloimuns @cmorlok @stucki can you reproduce it?

Greetings

[2016-06-12 10:11] sergiopoverony commented on #93
I check again. It it bug after give root access any FileManager (FM)
After delete all FM and reset setting default FM - work aging is fine.
i dont know how and why. Edit only use FM Editor. Other Editors not work

[2016-06-13 06:15] cmorlok commented on #93
I cannot reproduce this issue. Tested with ASUS File Manager, Total
Commander and Root Explorer. Editing and saving files multiple times work
fine on SD card and on internal storage.

[2016-06-13 17:42] Bondarz opened #98 "CM13 + TWRP 3.0.2-1 -> wrong TWRP password"
hello,

started also a thread inside the twrp board, hope this is ok:
link: https://github.com/TeamWin/Team-Win-Recovery-Project/issues/699

[2016-06-13 20:06] stucki commented on #98
That makes sense, thank you! Since it's a TWRP issue, I think it's fine to close it on this side. Ok?

[2016-06-13 20:06] #98 closed, assigned to nobody

[2016-06-13 20:24] stucki commented on #96
So, looking at this issue again, I think that 1) is an upstream issue. It just looks like this feature is currently not available in CyanogenMod 13.0. See https://jira.cyanogenmod.org/browse/CYAN-7560

Points 2) and 3) do not occur for me with the latest build from yesterday (2016-06-12). I'm using SIM 1 as well as SIM 2 with LTE without issues. Can you please try again with the latest build?

[2016-06-13 20:31] stucki commented on #95
I think I know the reason of your issue: It doesn't matter if you set SIM 1 to 2G, 3G or 4G. When it's selected for mobile data, then it means it's the active SIM. While this happens, SIM 2 is always limited to 2G.

Therefore, if you want to select a different network for SIM 2, you need to select if for mobile data to make it active first.

Can you confirm that this works? If so, I don't think it

[2016-06-13 20:33] stucki commented on #76
Closing as requested by the @Mutilo.

[2016-06-13 20:33] #76 closed, assigned to nobody

[2016-06-13 20:35] stucki commented on #74
This is an upstream issue and it has already been reported to the CyanogenMod team:
https://jira.cyanogenmod.org/browse/CYAN-7560

[2016-06-13 20:35] #74 closed, assigned to nobody

[2016-06-13 20:36] stucki commented on #55
@cmorlok Does this problem still exist for you? I have never noticed it myself...

[2016-06-13 20:39] stucki commented on #35
@cmorlok @piwats @starvoid Please check this issue again. In my opinion, the problem is fixed on the latest build (2016-06-12). Let me know if we can close this issue.

[2016-06-13 20:57] Kra1o5 commented on #98
I think is a combination, we inform of any advance here dont worry.

[2016-06-13 21:06] Mutilo commented on #95
All this is correct. But in previous builds I don't have that issue:

Before, I could set SIM1 to 2G and select for mobile data, and set SIM2 to 3G or 4G. Although SIM1 was select for mobile data, SIM2 isn't limited to 2G, it was connected to 3G or 4G networks.

[2016-06-13 21:11] cmorlok commented on #55
Haven't noticed the bug since February, it seems to be gone.

[2016-06-13 21:11] #55 closed, assigned to nobody

[2016-06-13 21:16] stucki commented on #95
If this was the case then it was wrong before and is fixed now. When SIM 1 is active, you cannot connect to anything except 2G networks on SIM 2. It's just not possible.

[2016-06-13 21:21] Mutilo commented on #95
Ok ok...

So it was that was wrong before, but in my case it was better before :DDDD

[2016-06-13 22:11] stucki commented on #95
In fact, I think it's a bug that you see all these 2G / 3G / 4G networks. You should only see one of them while the network type is chosen automatically by availability.

To verify this, make the following test:
- Activate SIM 2 for mobile data
- Open the carrier list for SIM 1. You should only see 2G networks. Choose your carrier.
- Set the preferred network type for SIM 1 to 4G
- Now change mobi

[2016-06-13 22:11] #95 closed, assigned to nobody

[2016-06-20 11:48] eloimuns commented on #85
Can you try to change phone language and test it again?

Thanks!

[2016-06-20 12:36] CarreyCC commented on #85
Hello.

The problem is the same at English and Spanish language.

Thanks a lot.

En 20 jun. 2016 13:48, en 13:48, eloimuns notifications@github.com escribió:

[2016-06-21 06:10] sergiopoverony commented on #86
Yep. Happens every day )))))

[2016-06-21 06:21] sergiopoverony opened #99 "User Profiles in CM13"
How switch off or disable profiles switcher (OWNER or GUEST and etc.)

[2016-06-21 16:29] yolandariar commented on #71
Hi,

First of all, thanks for supporting :)

I have the same issue in my M5 (CM13 last update). The audio during a call when connected to any BT device is awful. I cannot understand what people say (due to some kind of interferences) and the person on the other side cannot hear me because, they say, the volume is too low.

I have tried with the car BT radio, with different intercoms, and also with

[2016-06-21 16:48] yolandariar opened #100 "Euskaltel SIM not working without Roaming option activated"
Hi,

I have an Euskaltel SIM in my M5 (CM13 last update). I can't use the mobile data unless I activate the Roaming (Itinerancia de datos). Due to this, instead of "3G/4G" in the mobile data icon on the status bar, I always have an "R".

For what I know, some smartphones do not recognise the Euskaltel network as a Spanish network, and that's why the Roaming option must be activated in order to hav

[2016-06-23 12:40] cmorlok commented on #100
I would suggest to ask the CM core developers to add exception, or even better, send a patch to gerrit. See http://review.cyanogenmod.org/#/q/project:CyanogenMod/android_packages_apps_CarrierConfig+branch:cm-13.0 for reference

[2016-06-23 12:45] cmorlok opened #101 "ADB over USB not working"
It's not possible to connect to ADB over USB (while it's possible via network).

It might be a kernel error; the driver doesn't accept the adb function:

[code]

[2016-06-23 18:29] Kra1o5 commented on #100
Hi @yoli20832 @cmorlok ,

If Im correct, is already there: https://github.com/CyanogenMod/android_packages_apps_CarrierConfig/blob/cm-13.0/assets/carrier_config_21408.xml#L7 & here: https://github.com/CyanogenMod/android_frameworks_base/blob/cm-13.0/core/res/res/values-mcc214-mnc08/config.xml#L24

Because is 21408 (MVNO) & use actually 21403 (Orange) network.

Correct me if Im wrong about code.

G

[2016-06-24 10:13] DerSaxxe opened #102 "Progressbar does not display the right play position..."
... while playing over bluetooth (no progress). The problem is known since june 2016. The 31.05.-build shows the progressbar in the right way.

[2016-06-26 13:28] stucki commented on #86
@Kra1o5 This is pretty annoying and still happens every day. Do you have an idea why it happens?

[2016-06-26 13:31] Kra1o5 commented on #86
@stucki Probably server side, but I cant do much, maybe @eloimuns ?

Regards

[2016-06-26 13:37] sergiopoverony commented on #90
I confirm this fact. Not work

[2016-06-26 13:39] sergiopoverony commented on #101
Work is fine. Need switch OFF underWIN check the authenticity of the installed drivers

[2016-06-28 08:47] cmorlok commented on #101
@sergiopoverony Can you please post the output of

[code]

[2016-06-28 08:50] cmorlok opened #103 "GPS doesn't get a fix"
GPS sometimes doesn't get a fix even when more than 10 satellites are in use. The issue has been introduced with the new M blobs.

[2016-06-28 09:17] sergiopoverony commented on #101
@cmorlok I copy adb.exe, AdbWinApi.dll and AdbWinUsbApi.dll from unpacket official FW by 4.0.0_20160517-1201-piccolo-user-851-FW
I Copy this files to my Windows folder
WinXP and device pictures
Use connection - MTP and ADB  CM13
![qip shot - screen 1025](https://cloud.githubusercontent.com/assets/5286127/16410444/f4a12ea8-3d3b-11e6-9ae5-c90a6409a1dd.png)
Use connection - Charger and ADB
![screensh

[2016-06-28 20:24] cmorlok commented on #101
Sorry my fault. ADB has been downgraded with the latest system update. Everything is fine with the correct version.

[2016-06-28 20:24] #101 closed, assigned to nobody

[2016-06-30 09:31] jaimemrjm commented on #103
I can confirm GPS needs several minutes to get location since the latest builds.

[2016-06-30 11:16] cmorlok commented on #103
Can you provide a logcat? I had this problem only once and can't reproduce
any longer.

[2016-06-30 18:45] jaimemrjm commented on #103
Please, find attached the [gps.log.zip](https://github.com/bq-dev/android_device_bq_piccolo/files/342128/gps.log.zip) from logcat. I have used [Sat sat](http://mvglasow.github.io/satstat) to check GPS status. I needs almost 3 minutes to get fix location. Note there's a SIGSEGV.

[2016-07-01 12:24] starvoid opened #104 "Tethering is very slow"
Hi all
First, thanks again for your effort.

I'm running cm-13.0-20160620.

I'm experimenting problems sharing the Internet 3G connection both using wifi hotspot and using usb modem.

The connection is actually shared, by the reactivity is so slow that make it unusable. It takes too long the initial DNS request, then it takes too long the http request, then...

It seem back in the 14.400 bauds mod

[2016-07-03 14:28] sergiopoverony opened #105 "Default calendar and account access bad cycle"
Default calendar ask account settings and find account on any run him.

[2016-07-06 10:08] tonke90 opened #106 "Some apps report "Your device isn't compatible with this version" in the Play Store"
Some (a lot) of apps report "Your device isn't compatible with this version" in the Play Store, when either installing or updating them. Two examples are Google Inbox and Signal Messanger. Tested with gapps nano.

This only happens with builds starting from _cm-13.0-20160612-UNOFFICIAL-piccolo_. It could maybe be relate to the change regarding the fingerprint.

[2016-07-07 02:45] sergiopoverony opened #107 "Not supported OpenGL ES2 - CM13"
After update from 03.07.2016 i see error messages on TeamViewer app about "Device not supported. This device does Not support OpenGL ES 2.0, which is a minimum requirement for this app." in oldy version 20.06.2016 all work fine.

![screenshot_20160707-072931](https://cloud.githubusercontent.com/assets/5286127/16641143/2b8fceb0-4417-11e6-8ac5-b90186b68d87.png)

[2016-07-07 10:45] cmorlok commented on #107
Will be fixed in the next build, see https://github.com/bq-dev/android_device_bq_piccolo/commit/919dc7fe4776f50e9bc7f10c4e1403404c12f442

[2016-07-07 10:47] cmorlok commented on #106
Will be fixed in the next version. Root cause was the incorrect OpenGL definition, see #107 and https://github.com/bq-dev/android_device_bq_piccolo/commit/919dc7fe4776f50e9bc7f10c4e1403404c12f442

[2016-07-07 10:50] cmorlok commented on #104
I think it's only an issue with the built-in DNS server. When I set a DNS server manually on the laptop (e.g. 8.8.8.8), everything works fine.

Will look into it though, since I'm not allowed to change the network configuration on all clients.

[2016-07-07 10:55] sergiopoverony commented on #107
oh. lost sign. i edit my build.prop - all work fine. ready wait update ;)

[2016-07-07 11:44] cmorlok commented on #103
The tombstones (/data/tombstones/tombstone*) would be useful, if they still exist.

[2016-07-07 14:37] jaimemrjm commented on #103
I cannot provide the files, because I have this ROM no more.

[2016-07-07 19:53] DerSaxxe commented on #102
Seems to be solved since 03.07.2016

[2016-07-07 19:53] #102 closed, assigned to nobody

[2016-07-09 19:21] DerSaxxe commented on #103
Same here with the latest build
[tmp_7715-logfiles-2065457878.zip](https://github.com/bq-dev/android_device_bq_piccolo/files/355718/tmp_7715-logfiles-2065457878.zip)
[tmp_7715-tombstones1737011934.zip](https://github.com/bq-dev/android_device_bq_piccolo/files/355719/tmp_7715-tombstones1737011934.zip)

[2016-07-09 19:22] Kra1o5 commented on #103
I will try to fix it for next release (weekend build).

[2016-07-11 07:34] cmorlok commented on #107
Fixed in build 20160709.

[2016-07-11 07:34] #107 closed, assigned to nobody

[2016-07-11 07:34] cmorlok commented on #106
Fixed in build 20160709.

[2016-07-11 07:34] #106 closed, assigned to nobody

[2016-07-11 12:45] cmorlok commented on #75
Can this be closed?

[2016-07-11 12:46] cmorlok commented on #66
Can this be closed now?

[2016-07-11 12:46] sergiopoverony commented on #75
may be Yes/ Now work is fine.

[2016-07-11 12:47] Greatdroid commented on #66
It still doesn't work. No need to close yet

[2016-07-11 12:48] #75 closed, assigned to nobody

[2016-07-11 12:49] Greatdroid commented on #88
Ok. In the last beta from yesterday, still doesn't work.

[2016-07-12 09:43] Greatdroid opened #108 "Pause and volume buttons from headphones doesn't work"
In this last build can't use volume and play/pause buttons from the headphones. It does not work.

[2016-07-12 11:40] cmorlok commented on #108
@Kra1o5 Is there any reason why you renamed the keylayout in https://github.com/bq-dev/android_device_bq_piccolo/commit/e158c606bbe047dd56c8588cfb1a2a1e3e192896? Shouldn't it be Headset.kl? We had to rename it a long time ago to get the buttons working, see https://github.com/piccolo-dev/android_device_bq_piccolo/commit/b3f91535716469e9707938e11da4831122f7beae.

[2016-07-13 19:29] Kra1o5 commented on #108
Hi @cmorlok ,

It fixed issue for picmt so I merged it to piccolo, if this broken it on piccolo I will revert it without problems for next release.

Greetings

[2016-07-13 21:41] cmorlok commented on #108
I will test which kl file is needed and fix it before the next weekly build.

[2016-07-13 21:42] Kra1o5 commented on #108
As I can see, reverting this commit is fine.

[2016-07-14 13:00] piwats opened #109 "Galileo"
Hello dear folks, dear BQ staff,

later this year Qualcomm announced, that some of their Snapdragons will get Galileo support.

Do you know if our beloved M5 will also get Galileo support?

Thanks in advance.

[2016-07-14 13:06] cmorlok commented on #109
Duplicate of #19.

[2016-07-14 13:06] #109 closed, assigned to nobody

[2016-07-14 14:41] cmorlok commented on #19
According to https://www.qualcomm.com/news/releases/2016/06/21/qualcomm-announces-broad-support-galileo-across-snapdragon-processor-and Qualcomm will support Galileo only on new devices.

But if IZat Gen8C is really capable and it's only a software change, someone in the community will find a way for sure. Let's look again after Galileo has started.

[2016-07-14 19:50] Kra1o5 commented on #108
Reverted here: https://github.com/bq-dev/android_device_bq_piccolo/commit/eb3b7fc2cc2ba5687ae5cde609b4ed65eb604897

[2016-07-16 08:39] Kra1o5 commented on #105
Hi @sergiopoverony ,

This is a upstream issue not device specific, if you use Google Calendar it works fine.

Greetings

[2016-07-16 08:41] sergiopoverony commented on #105
Hi @Kra1o5 i know  about Google Calendar. One problem ))) i'm not use any google services

[2016-07-16 08:43] Kra1o5 commented on #105
In that case, you need to wait for a upstream fix.

[2016-07-16 08:44] sergiopoverony commented on #105
Yes. I wait - for it i make this issues

[2016-07-16 08:46] Kra1o5 commented on #1
Duplicate from here: https://github.com/bq-dev/android_device_bq_piccolo/issues/65

[2016-07-16 08:46] #1 closed, assigned to nobody

[2016-07-16 08:47] Kra1o5 commented on #88
Duplicate here: https://github.com/bq-dev/android_device_bq_piccolo/issues/66

[2016-07-16 08:47] #88 closed, assigned to nobody

[2016-07-16 09:34] piwats opened #110 "SIM data settings - not able to change data billing cycle."
Hello,

I've just noticed that on SIM1 it is not possible to change the data billing cycle. There is just one, currently from 4. to 3 (or 3. to 4.).

On SIM2 there are several options for the cycle, including one to change and/or set a custom one. If done so, after going out of that menu and returning back, the settings are not saved as supposed, but are restored to the original value.

[2016-07-16 10:55] stucki commented on #105
No, you can just close this ticket because it's an upstream issue. It's device independent and is therefore fixed by other people who are not following this tracker.

Therefore, I suggest that you check this site and report the issue if it's not reported yet:
https://jira.cyanogenmod.org/

After this, add a link to the ticket here and close the issue. Thanks! :-)

[2016-07-16 11:12] sergiopoverony commented on #105
HM/ Calendar is default CM app. Why not?

[2016-07-16 11:25] stucki commented on #105
Because this project is only about porting CyanogenMod to one specific device. The other issue tracker is for general projects (like the default calendar) which are not device specific.

[2016-07-18 11:18] piwats commented on #110
Seems to work again.

[2016-07-18 11:18] #110 closed, assigned to nobody

[2016-07-19 21:58] tonke90 opened #111 "Audio stops working"
Sometimes the audio stops working, including phone, speaker, and alarm. It happens about once in one to two weeks. A Reboot fixes the problem. I had this with CM 12 before, I haven't tested if it also happens with stock rom.

logcat greped for error shows the following messages:

[2016-07-20 13:24] regalstreak commented on #35
ill just reply so that you dont feel lonely. I have the same issue on another device tho.

[2016-07-20 13:44] cmorlok commented on #96
_1) There is no way to individually disable SIMs. (i.e. disable SIM1 completely)_
This needs closed source QTI telephony extension. I have to check if there is one available which is compatible for our device. The last time I searched I couldn't find any.

_2) It does not seem to be possible to set SIM1 to 2G. (It discovers 3G and 2G networks)_
Works with the latest build.

_3) Even if you try to

[2016-07-20 13:47] cmorlok commented on #35
The last report of that bug is 5 months old. Seems to be solved.

[2016-07-20 13:47] #35 closed, assigned to nobody

[2016-07-20 13:50] #108 closed, assigned to nobody

[2016-07-24 06:34] cha25228 commented on #111
1

[2016-07-24 07:23] cmorlok commented on #111
Can you post a full logcat, not only the errors? Thanks.

Am 24.07.2016 8:34 vorm. schrieb "cha25228" notifications@github.com:

[2016-07-24 07:47] cha25228 commented on #70
Talk back

[2016-07-24 08:39] DerSaxxe commented on #70
With the tomorrows build the issue still exist.

[2016-07-24 08:41] Kra1o5 commented on #70
I think is a upstream issue not device specific, @stucki @cmorlok @eloimuns what do you think?

[2016-07-24 09:49] DerSaxxe commented on #59
I think this is an old issue. I never seen this since months. I think we can close it?

[2016-07-24 09:54] DerSaxxe commented on #80
Is this an open problem? I think it is a missing feature but not a problem. Maybe closing this issue?

[2016-07-25 08:47] stucki commented on #70
I just checked on Moto G (peregrine) and the issue exists there as well.
Found no upstream issue, however it's reported for CyanogenOS on the OnePlus One: https://jira.cyanogenmod.org/browse/BACON-4710

So I think this issue can be closed because it's an upstream bug.

[2016-07-25 08:47] #70 closed, assigned to nobody

[2016-07-25 15:46] sergiopoverony opened #112 "CM13 - OTA update MD5 error"
Ota update cm-13.0-20160725-UNOFFICIAL after download show ERROR message - unable check md5

[2016-07-25 16:01] sergiopoverony commented on #112
fast reaction - after 10 min issuses - update is closed and not download )))

[2016-07-25 16:03] Kra1o5 commented on #112
Yes, corrupt upload, Im reuploading now.

[2016-07-25 16:06] sergiopoverony commented on #112
@Kra1o5 Thanks. Good.

[2016-07-25 17:19] Kra1o5 commented on #112
Fixed now.

[2016-07-25 17:19] #112 closed, assigned to nobody

[2016-08-12 04:21] 1tft opened #113 "host_driver_logs_current.txt"
Hello,
at internal storage (storage/emulated/0/wlan_logs) I find a file called host_driver_logs_current.txt which is rapidly growing everytime I use WLAN. I can't see any logrotation etc..
Could this be an issue with a forgotten debugging option?

My setup
Version: RC [2016/07/31]
Firmwarebase: 4.1.0 (Android 6.0.1)
Installation/Upgrade: no upgrade, full clean installation with a factory reset pri

[2016-08-13 23:52] Kra1o5 commented on #113
Hi @1tft ,

Fixed, will be present in next release :) .

Greetings

[2016-08-14 10:24] 1tft commented on #103
I can confirm GPS needs several minutes to get location tested with latest build:
Version: RC [2016/07/31]
Firmwarebase: 4.1.0 (Android 6.0.1)
Installation/Upgrade: no upgrade, full clean installation with a factory reset prior installation

On second phone I get fix within seconds.
Reference build on second phone: 2016/05/18
Firmwarebase: 3.2.9 (Android 5.1.1)

[2016-08-17 08:24] sergiopoverony opened #114 "Status message BUG in"
Size status bar messages is big. Out of screen size!!!
I dont know how reproduce  it. I see this bug 5 time. Maybe after rotation screen this. Please check it/

![screenshot_20160817-120255](https://cloud.githubusercontent.com/assets/5286127/17729336/33c84cb6-647d-11e6-8d06-41be5684db12.png)

[2016-08-17 09:33] sergiopoverony commented on #93
Fixed/ Close

[2016-08-17 09:33] #93 closed, assigned to nobody

[2016-08-17 14:57] stucki commented on #114
Never seen this. Does it happen only with Instagram or also with other apps?
Also, I don't think that this is a device specific issue. Please check the upstream issue tracker or report there...

[2016-08-20 13:34] Kra1o5 commented on #113
Fixed in  cm-13.0-20160820-UNOFFICIAL-piccolo release.

Greetings

[2016-08-20 13:34] #113 closed, assigned to Kra1o5

[2016-08-20 13:34] Kra1o5 commented on #114
Probably because the number of popups.

[2016-08-20 13:36] Kra1o5 commented on #111
Yeah, can you provide us full logcat?

Greetings

[2016-08-21 09:29] andresako opened #115 "Can't update my phone"
Hi everyone,
I'm currently using the CM13 20160612 and I'm trying to upgrade the system as always automatically.
I've downloaded the new patch, click on install, the phone ask me for reboot and say yes.
The phone never enter on the recovery, making a normal reboot.
I need to do the patching manually? I need to do some wipes?
Thanks in advance.

[2016-08-21 11:50] stucki commented on #115
I think you need to install the new bootloader first. Get the file "FirmwareMM_v4.1.0_signed.zip    " from https://s.basketbuild.com/devs/eloimuns/bq/piccolo/ and flash it from inside TWRP.

[2016-08-21 11:50] stucki commented on #62
I think this was an upstream issue. It seems to be fixed in the meantime.

[2016-08-21 11:50] #62 closed, assigned to nobody

[2016-08-21 11:57] stucki commented on #65
Problem still exists using 2016-08-20 build. Only happens with Snap camera, other cameras work fine.
I have also installed CameraBQ_signed_v4.1.0.zip from https://s.basketbuild.com/devs/eloimuns/bq/piccolo/. Not sure if it would also occur without this addon.

Can anyone reproduce this with a different phone model?

[2016-08-21 12:00] stucki commented on #86
Seems to be fixed now.

[2016-08-21 12:00] #86 closed, assigned to nobody

[2016-08-21 12:06] stucki commented on #100
@yoli20832 Can you please give feedback to these comments? If the problem still exists, please check your provider network IDs.
You may also want to check if the problem also happens with other devices that run CyanogenMod.

[2016-08-21 12:12] stucki commented on #32
For some strange reason, my Google Camera version is much older than this (2.5.052). However, with this version and the latest CM build, the problem does not happen anymore.
Can anyone else please verify this?

[2016-08-21 18:45] cmorlok commented on #32
See my post from January. You'll get 2.5 when you install from Play Store.
This version works fine. The bad one is the version delivered with GApps.

[2016-08-21 20:52] stucki commented on #32
Thanks, didn't read the entiry thread before. You mention that Snap 2.002 was also force closing, however I cannot reproduce this using the latest CM build (2016-08-20, it still includes the same Snap version).

Can you check if it works for you, too? Please also check if installing CameraBQ_signed_v4.1.0.zip will help.

[2016-08-22 04:22] cmorlok commented on #32
That has been fixed in build 2016/01/24 with the camera wrapper. The only
known camera app which doesn't work in video mode is Google Camera 3.1.

BTW: Snap has the same version since its inclusion into CM. There have been
a lot of changes since then.

[2016-08-23 06:04] andresako commented on #115
Issue fixed.
Thanks stucki =D

[2016-08-23 06:04] #115 closed, assigned to nobody

[2016-08-23 14:58] sergiopoverony opened #116 "CPU governor and core work CM13"
I now test my device under cpu-z
All core work AllTime. May be is governor problem?

![screenshot_20160823-195435](https://cloud.githubusercontent.com/assets/5286127/17896954/d40add04-696b-11e6-9706-26cc44b01458.png)

[2016-08-23 15:06] sergiopoverony commented on #94
new update. Problem still exists

[2016-08-23 15:17] cmorlok commented on #116
This is the default behavior in Android. There are several custom governors
which disable cores, but there isn't an official one.

[2016-08-23 16:28] sergiopoverony commented on #116
@cmorlok default minfreq is 800mhz - meybe downlow to 200?  this is save battery

[2016-09-02 18:51] sergiopoverony commented on #116
@cmorlok @Kra1o5 @eloimuns   maybe compile kernel wich use hotplug governor - this is for multicore devices - more good? Need for powersave and good work device/
Please from here/ as example https://android.googlesource.com/kernel/mediatek/+/android-mediatek-sprout-3.4-kitkat-mr2/drivers/cpufreq/cpufreq_hotplug.c

[2016-09-02 19:16] Kra1o5 commented on #116
Hi @sergiopoverony ,

Not much sense since we have perfd & core_ctl options.

[2016-09-02 21:08] Greatdroid commented on #66
I think it works now, the only issue I found that it doesn't auto play the music when it connects via bluetooth. Once you press play on the phone then I can change tracks from the car

[2016-09-04 08:26] sergiopoverony opened #117 "CM13 03.09.2016. WIFI problem"
very low work wifi. in last fw connection lost under my house and 3room. in cm13 unoficial wifi work fine in my 3rd room.

[2016-09-04 08:59] sergiopoverony commented on #117
lol sory my vawe reboot router

[2016-09-04 08:59] #117 closed, assigned to nobody

[2016-09-04 09:32] sergiopoverony commented on #116
i see in other cm fw cpu tune settings. we can see it?

[2016-09-04 10:00] Kra1o5 commented on #116
This option dissapear some time ago in cm.

[2016-09-04 10:29] sergiopoverony commented on #116
It's sad that you can not control the frequencies and governors

[2016-09-07 10:14] sergiopoverony commented on #116
@cmorlok @Kra1o5 @eloimuns Please check is it
I check on Stoсk FW and CM 13.
In Stoсk kernel work is fine. i see stopped cores = save my battery. In CM13 not see it.
![qip shot - screen 1075](https://cloud.githubusercontent.com/assets/5286127/18308362/9e64707c-750d-11e6-920b-4ecf327e8b10.png)

[2016-09-07 11:48] yolandariar commented on #100
Hi, sorry for my late reply.

I'm sorry but I don't know exactly but I have to do or how can I check the network IDs.

Also, I cannot check if the problem happens with other devices different to BQ M5 that run CyanogenMod. But I can confirm that this happens on the BQ M5, and that mine is not the only one affected. Other M5 users with Euskaltel and CyanogenMod have the same issue.

Anyway, I've be

[2016-09-08 20:50] DerSaxxe commented on #85
No problems here with the latest nightly.

[2016-09-08 20:52] DerSaxxe commented on #67
No problems here with the latest nightly in daily use.

[2016-09-08 20:54] DerSaxxe commented on #65
Still exist with the latest nightly

[2016-09-08 20:55] stucki commented on #85
Thanks for the feedback! @CarreyCC please reopen if the problem comes back.

[2016-09-08 20:55] #85 closed, assigned to nobody

[2016-09-08 20:57] DerSaxxe commented on #59
Should be closed...

[2016-09-08 21:01] DerSaxxe commented on #43
I think it is not a bug, it is a feature ;-)

[2016-09-08 21:05] DerSaxxe commented on #42
No problems here with the latest nightly.

[2016-09-08 21:12] stucki commented on #67
I can confirm that, using multiple bluetooth headsets for many months now without issues: Belkin AirCast, Sony SBH-70, Bose Soundlink Mini

Closing the issue. Please reopen if the problem still occurs.

[2016-09-08 21:12] #67 closed, assigned to nobody

[2016-09-08 21:13] stucki commented on #59
Closing the issue. Please reopen if the problem still occurs.

[2016-09-08 21:13] #59 closed, assigned to nobody

[2016-09-08 21:14] stucki commented on #43
Closing the issue. Please reopen if the problem still occurs.

[2016-09-08 21:14] #43 closed, assigned to nobody

[2016-09-08 21:15] DerSaxxe commented on #52
I took a normal magnet and it works without problems on the bottom right side of the speaker.

[2016-09-08 21:15] stucki commented on #42
Closing the issue. Please reopen if the problem still occurs.

[2016-09-08 21:15] #42 closed, assigned to nobody

[2016-09-08 21:16] stucki commented on #52
Closing the issue. Please reopen if the problem still occurs.

[2016-09-08 21:16] #52 closed, assigned to nobody

[2016-09-08 21:16] stucki commented on #52
Btw. many thanks @SIRSteiner for helping out in the issue tracker tonight! :+1:

[2016-09-08 21:19] DerSaxxe commented on #97
Can't confirm this issue, no problems here with the latest nightly

[2016-09-08 21:30] DerSaxxe commented on #51
It works fine here with the latest nightly.

[2016-09-08 21:31] stucki commented on #97
Closing the issue. Please reopen if the problem still occurs.

[2016-09-08 21:31] #97 closed, assigned to nobody

[2016-09-08 21:32] stucki commented on #51
Upstream issue has been fixed: http://review.cyanogenmod.org/#/c/133098/

[2016-09-08 21:32] #51 closed, assigned to nobody

[2016-09-10 09:21] DerSaxxe commented on #114
Never seen this.
@sergiopoverony: Is it gone with the latest builds?

[2016-09-10 09:30] sergiopoverony commented on #114
Meybe yes. In now time not see it bug )

[2016-09-10 12:50] DerSaxxe commented on #114
Thank you. So I think we can close this issue and reopen if it occurs again.

[2016-09-10 12:51] sergiopoverony commented on #114
Yep. Close

[2016-09-10 18:46] #114 closed, assigned to nobody

[2016-09-16 11:04] sergiopoverony opened #118 "(Again) Status message wrong size"
Again this bug. I dont know how reproduct him

![screenshot_20160916-002000](https://cloud.githubusercontent.com/assets/5286127/18584004/89240e0e-7c27-11e6-9e58-9b0cfb03de0c.png)
![screenshot_20160916-001949](https://cloud.githubusercontent.com/assets/5286127/18584003/8922055a-7c27-11e6-9078-32e8a68c8b2a.png)

[2016-09-19 09:26] Bondarz opened #119 "[cm13] after factory reset: can`t enter the cm surface"
hello,

build from the 17.09.2016
after is restet my cm13 m5, you can choose a wifi network. if you skip this **without a wifi network** and **without a sim card**, u can`t enter the cm surface. you can always skip the wifi menue and the sim menue, but can't boot into the cm13 surface.

u have to choose a wifi network. after i selectet a wifi network it was possible to enter the cm13 surface witho

[2016-09-20 08:09] stucki commented on #118
see #114 for the story so far...

@sergiopoverony Can you reproduce the issue? If so, try to disable a few of your apps and see if it happens again...
I really don't know why this happens & why nobody else seems to see it. I guess it has to do with a particular app which you're using, so please check this...

[2016-09-20 10:11] sergiopoverony commented on #118
@stucki  i'm Switch OFF rotating lockScreen -  for not see this bug ;)

[2016-09-22 15:44] RufioHugo opened #120 "Problem reactivating mobile data"
Hi there!

Status:
- cm13 (always newest, last update today) on M5
- SIM1 settings; data only
- SIM2 settings; all phone calls
- SMS ask for, or SIM1, or SIM2 (makes no difference)
- using phone with mobile data activ (Wi-Fi depends on location)

Then:
- need to deactivate mobile data and do so via menu "data usage" (first screenshot/attachment)
- use phone offline or via Wi-Fi, makes no differenc

[2016-09-22 15:50] cmorlok commented on #120
Can't reproduce on yesterday's build.

What do you mean with "data only"?

[2016-09-22 15:57] RufioHugo commented on #120
When going to "SIM menu"  I get:
- SIM1
- SIM2
- Preffered SIM
  = mobile data
  = calls
  = SMS
- ...

In "preffered SIM" I've chosen
= mobile data - SIM1
= calls - SIM2
= SMS - ask (or SIM1 or SIM2 - depends on my location)

Thats what I mean with "data only"

Rufio

[2016-09-22 16:08] cmorlok commented on #120
That's what I did, still can't reproduce. What is shown in the quick
settings when data is disabled? SIM 1 or SIM 2? Can you enable data there?

[2016-09-22 16:23] RufioHugo commented on #120
Well ... in quick settings always only SIM1 is shown (and no dropdown menu).
A "button" to activate/deactivate mobile data I've seen there only in CM12 - since CM13 I've never seen any similar option there again.

Rufio

[2016-09-22 17:40] cmorlok commented on #120
You can't see this toggle?

[2016-09-23 15:47] stucki commented on #120
I also cannot reproduce that one of the SIM cards disappears. Did you check logcat?

[2016-09-27 14:11] RufioHugo commented on #120
Sorry on my late answer ... first I was distracted not beeing able to reproducce, then only having 1 SIM in the quick menu (PS: I never see a menu entry for both - is this normal?) and then my work hit hard. %-|
=> I've simply forgotten about the toggle two steps inside the "quick menu". <= _sigh_

So my "status" on my question:
- The toggle inside the "quick menu" is all time available and works,

[2016-10-14 10:07] pipa89 opened #121 "[cm14]lockdown file manager"
When you want to restore a backup nova launcher and use the native file manager cm14, fails forced closure.

[2016-10-14 10:09] pipa89 opened #122 "Proximity sensor remains active in lock screen"
When you unlock the screen, the proximity sensor remains active until you unlock the lock screen is unnecessary, though not a fatal error.

[2016-10-14 10:11] pipa89 opened #123 "[cm14]battery icon"
In the settings to change the battery icon, this is not changed, nor shows much indeed available.

[2016-10-16 14:55] Migui2356 opened #124 "Datos móviles"
Me detecta la sim, pero no puedo activar mis datos ni usar internet, solo puedo acceder a Internet mediante Wifi

[2016-10-16 20:43] stucki commented on #124
Can you please explain your problem in English?

[2016-10-16 22:14] ghost commented on #124
hes phone can detect the SIM, but he can´t turn on the cellurar data or use internet, he can only access to internet by Wifi

[2016-10-16 22:20] ghost opened #125 "Headphones bug"
When I try to plug my headphones inside the phone, it just almost crash.
The phone slow down (extremely laggy), and in any reproductor like spotify or youtube start making noises with the external speaker,

[2016-10-16 23:12] piwats commented on #124
Same here, two sims inserted. card1 is configured to 2G, card2 to LTE.

Status indicator for card1 shows an "x", while that of card2 "E".

Internet goes only when wifi is enabled.

[2016-10-17 03:39] cmorlok commented on #125
You have to cherry pick http://review.cyanogenmod.org#/c/164186/

[2016-10-17 03:39] #125 closed, assigned to nobody

[2016-10-17 03:41] cmorlok commented on #119
This is not a M5 related bug. Please report on CM's JIRA.

[2016-10-17 03:41] #119 closed, assigned to nobody

[2016-10-17 03:42] cmorlok commented on #121
Please do not report non M5 specific bugs here.

[2016-10-17 03:42] #121 closed, assigned to nobody

[2016-10-17 03:42] cmorlok commented on #123
Please do not report non M5 specific bugs here.

[2016-10-17 03:42] #123 closed, assigned to nobody

[2016-10-17 05:44] Migui2356 opened #126 "Can't play music with headphones nor bluetooth"
When I plug the headphones or I connect the bluethoot, all music system (how high or low sounds the music and notifications etc) bugs and the mobile starts to go so slow.

[2016-10-18 04:12] cmorlok commented on #126
@eloimuns Did you miss to cherry pick http://review.cyanogenmod.org#/c/164186/ ?

[2016-10-18 19:29] cmorlok commented on #116
We have activeated core_ctl for testing purposes. It doesn't hurt, but it doesn't improve battery life either. It will be included in one of the upcoming nightlies.

[2016-10-18 19:31] cmorlok commented on #122
I have seen some commits on gerrit. Is this fixed in the 20161018 build?

[2016-10-18 19:33] cmorlok commented on #126
Should be fixed in the 20161018 build. Can you please verify?

[2016-10-18 19:34] cmorlok commented on #125
Duplicate of #126

[2016-10-18 19:44] Migui2356 commented on #126
I'm downloading the new build already! But it will take a little long time
because the download is so slow

El 18 oct. 2016 9:33 p. m., "cmorlok" notifications@github.com escribió:

[2016-10-18 20:11] sergiopoverony commented on #116
@cmorlok Good news. i ready and prepare )))

[2016-10-19 03:21] ghost commented on #124
I jus translate it my cellurar data works find

[2016-10-19 03:54] ghost commented on #126
Works find with the 20161018 built
Thanks man you are the best you don't know how much I really appreciated.

[2016-10-19 07:25] #126 closed, assigned to nobody

[2016-10-19 07:54] Migui2356 opened #127 "The 20161018 built doesn't let me activate my Mobile Data"
The music system (bluethoot and headphones) problem was solved, but I can't activate my Mobile Data, can't activate it with the metod I activated it in the previous build and so, can't navigate or talk on social media.

[2016-10-19 07:55] Migui2356 commented on #126
I sent a new Issue, I can't activate my mobile data on this built :( but
the music system works fine!!

2016-10-19 9:25 GMT+02:00 Eloi Carracedo notifications@github.com:

[2016-10-20 03:35] cmorlok commented on #127
Can you please give more details: which steps are you doing to get mobile data? Which is the method to activate you are referring?

[2016-10-20 04:22] Migui2356 commented on #127
In the previous build I was activating data by going on "options" "mobile
data" and there selecting "LTE(recommended" and not the 2G option, but in
the 20161018 built it doesn't work

[2016-10-20 10:23] Migui2356 commented on #122
Yeah it is also fixed!

[2016-10-20 13:47] cmorlok commented on #127
Cannot reproduce.

Can you please tell us exactly step by step what you are doing? Are you starting from a wiped phone? Or have you lost the connection during the update and are not able to re-enable data?

[2016-10-20 13:49] cmorlok commented on #124
FYI. There is no need to set one card to 2G unless you explicitly want to get a 2G data connection.

[2016-10-20 13:52] Migui2356 commented on #127
I started from a wiped phone with the 20161018 build, to try if the music system was fixed, and it was, then I tried to enable data and I couldn't do it in any way, I don't know why, and I posted the issue to see if it was a bug or my problem

[2016-10-20 19:07] stucki commented on #116
Can you try again with the 20161020 nightly? The changes have been merged.

[2016-10-20 19:10] sergiopoverony commented on #116
@stucki i check tomorrow. now deep night in Russia )

[2016-10-20 19:36] sergiopoverony commented on #116
@stucki cant donwload FW/... ~99% and no more. I reboot device. Clean memory and etc. No more. Not Download!

[2016-10-20 19:46] stucki commented on #116
Hmm, download works fine for me. You may try to download it via https://get.cm/ manually. Also make sure to check the sha1 checksum.

[2016-10-20 20:21] sergiopoverony commented on #116
@sticki got it. Is fine. Ctl work. Now need  2-3 days for test.

[2016-10-21 07:48] cmorlok commented on #127
How exactly are you trying to enable mobile data?

[2016-10-21 10:24] Migui2356 commented on #127
Options>Data Usage>Enable Cellular Data>Cellular Network> LTE (recommended)

[2016-10-21 10:39] #124 closed, assigned to nobody

[2016-10-21 15:01] RufioHugo commented on #120
Hi there ... I'm back.

The problem still "active" on my phone - the "disappearing SIM".
(PS: after a SIM change I can say, that always only the data-SIM is shown in quick settings.)

Any advice of a tool to prefer? Got only CatLog on my phone.
Either way; on a first look I'm not able to find anything odd in my log.
(Maybe a hint on keywords to search for?)

Greetings Rufio

[2016-10-23 06:25] ghost opened #128 "OK google detection"
I found a bug wile activating OK google detection

[2016-10-23 06:29] ghost opened #129 "Video recording doesn't work"
When you try to record some thing and you finish, the camera don't save the videos properly.
Wile trying to reproduce them, it just can't

[2016-10-23 07:15] #127 closed, assigned to nobody

[2016-10-24 05:53] cmorlok commented on #128
What exactly is the bug you found?

[2016-10-24 05:53] cmorlok commented on #129
Video recording is broken on almost all devices at the moment. This is the main reason why there are no nightlies yet.

Google changed the security concept for the camera which means that the drivers have to be updated. There are a lot of people working on a solution to get it working with the old drivers.

[2016-10-24 08:34] sergiopoverony commented on #116
@sticki Good work. uptime ~+35%

[2016-10-24 16:31] Migui2356 commented on #122
Edit: It isn't fixed, I though it was but it isn't, sorry for the bad information!

[2016-10-25 03:28] ghost commented on #128
Google app crash

[2016-10-25 03:32] ghost commented on #128
I think that I found the solution.
That happened to me because I activate the google assistant  editing the built.prop
If any one wants to doit you just have to change/edit the values "ro.product.model=Pixel XL" and "ro.opa.eligible_device=true"

[2016-10-25 03:35] ghost commented on #129
Thanks for the information man ,I hope it will be resolved soon

[2016-10-25 18:18] cmorlok commented on #127
Do you have one or two sims?
Which sim is selected for data usage? (settings - sim cards - preferred sim
for mobile data)
Is the correct APN selected?

[2016-10-25 19:00] cmorlok commented on #129
Video recording is broken on almost all devices at the moment. This is the
main reason why there are no nightlies yet.

Google changed the security concept for the camera which means that the
drivers have to be updated. There are a lot of people working on a solution
to get it working with the old drivers.

[2016-10-25 19:02] cmorlok commented on #128
And what exactly is the bug?

[2016-10-25 21:56] Migui2356 commented on #127
It was the sim card option, it wasn't activated, thanks!

[2016-10-26 03:25] ghost commented on #128
When you try to activate the ok google detection, It sais "google app keeps stopping" and google app close.
I try to clear cache data... But nothing new always the same message.
But is not a very important think.

[2016-10-30 13:33] RufioHugo opened #130 "Camera - Changing options kills App"
Hi!

Had to set up a new phone with CM13 ... started with cm-13.0-20161027-NIGHTLY-piccolo and updated twice since then (cm-13.0-20161028-NIGHTLY-piccolo & cm-13.0-20161030-NIGHTLY-piccolo)!

Problem:
Changing any option in the camera kills the camera! (I've sent every report.)

Any Idea? (Any relation with https://github.com/bq-dev/android_device_bq_piccolo/issues/129 maybe?)

Greetings, Rufio

P

[2016-10-30 15:03] RufioHugo opened #131 "Camera - Options menu is a mess"
Hi ...

After finding out the problem with crashes I've seen that every options menu in the camera is a mess!

For example:
- Save location: "On"  crashes app / "Off" sets it "On" => no way to get it "off"
- ISO: "Automatic" sets "Automatic HJR" / "Automatic HJR" sets "ISO100" / "ISO100" sets "ISO200" / and so on / "ISO3200" crashes app => no way to get "Automatic" activated

This affects the whol

[2016-10-31 17:10] sergiopoverony opened #132 "SMS app crash after receiving message"
@cmorlok After incoming sms. SMS apk crashed.
this crash after 24.10.... and today

[2016-10-31 17:58] RufioHugo commented on #130
Update from today ... cm-13.0-20161031-NIGHTLY-piccolo ... Camera works again for me!

Thank you!
Rufio

[2016-10-31 17:59] #130 closed, assigned to nobody

[2016-10-31 18:00] RufioHugo commented on #131
Update from today ... cm-13.0-20161031-NIGHTLY-piccolo ... all options work again for me!

Thanks a lot!
Rufio

[2016-10-31 18:00] #131 closed, assigned to nobody

[2016-11-01 08:12] sergiopoverony opened #133 "Phone app crashes after opening"
@cmorlok After tap on Phone apk ico i see in random time crash APK
this crash after 24.10.... and today

[2016-11-01 08:15] sergiopoverony commented on #65
@cmorlok This is not fixed

[2016-11-01 18:50] RufioHugo opened #134 "File manager starts with error and crashes"
Hi!

My Version: cm-13.0-20161101-NIGHTLY-piccolo
The File manager starts with error message analogous "An Error happened. Procedure could not be executed" and crashes when trying to change location (directory or from phon to SD).
Reports were sent.

Greetings Rufio

[2016-11-02 03:56] #128 closed, assigned to nobody

[2016-11-02 03:57] ghost commented on #128
Fixed its was an error wile flashing the Google app

[2016-11-03 14:35] #129 closed, assigned to nobody

[2016-11-03 14:38] cmorlok commented on #133
Can you please provide a logcat which includes the crash? If available, please send the tombstone as well.

[2016-11-03 14:38] cmorlok commented on #132
Can you please provide a logcat which includes the crash? If available, please send the tombstone as well.

[2016-11-03 14:38] cmorlok commented on #134
Can you please provide a logcat which includes the crash? If available, please send the tombstone as well.

[2016-11-03 14:40] cmorlok commented on #54
No response. Please reopen and provide additional information if the issue still exists.

[2016-11-03 14:40] #54 closed, assigned to nobody

[2016-11-03 14:42] #66 closed, assigned to nobody

[2016-11-03 14:44] #96 closed, assigned to nobody

[2016-11-03 17:16] RufioHugo commented on #134
Hello!

As I don't now how much you need ... attached catlog should start with choosing FileManager and end after sending crash report (hopeso).

Greetings Rufio

[File_Man.txt](https://github.com/bq-dev/android_device_bq_piccolo/files/569655/File_Man.txt)

PS:
Right now I can't copy tombstone ... I'll try tomorrow again with an other tool.

[2016-11-06 09:27] RufioHugo commented on #134
Updated to cm-13.0-20161106-NIGHTLY-piccolo ... problem solved.
Thank you!

Greetz Rufio

[2016-11-06 09:27] #134 closed, assigned to nobody

[2016-11-07 09:10] sergiopoverony commented on #133
@cmorlok i repeat this bug. him only if i'm switch ON rotating (orientation) in settings
[2016-11-07-12-22-18.txt](https://github.com/bq-dev/android_device_bq_piccolo/files/574886/2016-11-07-12-22-18.txt)
[2016-11-07-12-25-03.txt](https://github.com/bq-dev/android_device_bq_piccolo/files/574887/2016-11-07-12-25-03.txt)

[2016-11-12 16:44] Matthias199 opened #135 "wackeup problem"
Hello,
somtimes after i wake up my M5 wit CM13, the screen locks strange with a bit green.
and it is fery slowe.
its is so slow it is impossible for me to unlock the phone,
then i have to restart sometimes, and it works again vor serveral houers

[2016-11-20 02:48] ghost opened #136 "Data doesn't turn on when disconnecting WiFi"
When I disconnect from a WI fi network with the mobile data turned on, sometimes the mobile data doesn't turn on. Restarting fixes the issue.

[2016-11-20 02:48] ghost commented on #136
CM14.1 R5 btw!

[2016-11-20 02:50] ghost commented on #136
I'm reporting it because I guess it's a device related issue.

[2016-11-22 08:35] Migui2356 opened #137 "[cm14] Proximity sensor remains active when the device is unlocked."